{% extends "index.html" %}

{% block title %}Incoming Chargebacks{% endblock %}

{% block content %}

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active">
              Incoming Chargebacks
            </li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      {% if not filter %}
        {% include "stats.html" %}
      {% endif %}

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Incoming Chargebacks</h3>
              <div class="card-tools">

              </div>
            </div>
            <!-- /.card-header -->

            <div class="card-body">
            <p class="text-muted">The section shows all incoming Chargebacks uploaded from Mastercom.
                The info is shown only for incoming cases which have not been reviewed before.
                The system automatically assessed the transaction completion results from different sources and provides documents for estimation.
                User can choose accept/decline action after reviewing transaction estimation provided.
                The system forms Second Presentment and attaches relevant documentation to case.
                List of incoming chargebacks updates after action applied.</p>
              {% if object_list %}
                <div style="overflow-x: scroll; width: 100%;">

                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th></th>
                      <th>Claim ID</th>
                      <th>PAN</th>
                      <th>Amount</th>
                      <th>Currency</th>
                      <th>Terminal ID</th>
                      <th>Trans Date</th>
                      <th>ARN</th>
                      <th>RC</th>
                      <th>Due date</th>
                      <th>Error</th>
                      <th>Result</th>
                      <th>Result date</th>
                      <th>View</th>
                      <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for chargeback in object_list %}
                      <tr>
                        <td><input type="checkbox" name="chb_ids" value="{{ chargeback.id }}"/></td>
                        <td>{{ chargeback.claim_id }}</td>
                        <td>{{ chargeback.pan|default:'' }}</td>
                        <td>
                          {% for detail in chargeback.chargeback_detail.all %}
                            {% if detail.result == "Pend" or not detail.result %}
                              {{ detail.amount }} <br>
                            {% endif %}
                          {% endfor %}
                        </td>
                        <td>
                          {% for detail in chargeback.chargeback_detail.all %}
                            {% if detail.result == "Pend" or not detail.result %}
                              {{ detail.currency }} <br>
                            {% endif %}
                          {% endfor %}
                        </td>
                        <td>{{ chargeback.card_acceptor_terminal_id|default:'' }}</td>
                        <td>{{ chargeback.authorization_date }}</td>
                        <td>{{ chargeback.acquirer_ref_num|default:'' }}</td>
                        <td>
                          {% for detail in chargeback.chargeback_detail.all %}
                            {% if detail.result == "Pend" or not detail.result %}
                              {{ detail.reason_code }} <br>
                            {% endif %}
                          {% endfor %}
                        </td>
                        <td>{{ chargeback.due_date|default:'' }}</td>
                        <td>{{ chargeback.atm_transaction.result }}</td>
                        <td>
                          {% for detail in chargeback.chargeback_detail.all %}
                            {% if detail.result == "Pend" or not detail.result %}
                              {{ detail.result|default:'--' }} <br>
                            {% endif %}
                          {% endfor %}
                        </td>
                        <td>
                          {% for detail in chargeback.chargeback_detail.all %}
                            {% if detail.result == "Pend" or not detail.result %}
                              {{ detail.result_date|date:"d.m.y"|default:'--'  }} <br>
                            {% endif %}
                          {% endfor %}
                        </td>
                        <td>
                          <form method="POST" action="{% url 'transactions_search' %}">
                            {% csrf_token %}
                            <input type="hidden" name="pan" value="{{ chargeback.pan }}">
                            <input type="hidden" name="start_date" value="{{ chargeback.authorization_date }}">
                            <input type="hidden" name="end_date" value="{{ chargeback.authorization_date }}">
                            <button class="btn btn-primary">View</button>
                          </form>

                        </td>
                        <td>
                          <div class="dropdown">
                            {% for detail in chargeback.chargeback_detail.all %}
                              {% if detail.result == "Pend" or not detail.result %}

                                <div>
                                <button style="padding: 0 0.75rem; margin-top: 2px;"
                                        class="btn btn-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Action
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item"
                                     href="{% url 'incoming_chargeback_accept' detail_pk=detail.pk %}">Accept</a>
                                  <a class="dropdown-item"
                                     href="{% url 'incoming_chargeback_decline' detail_pk=detail.pk %}">Decline</a>
                                  <a class="dropdown-item"
                                     href="{% url 'incoming_chargeback_pend' detail_pk=detail.pk %}">Pend</a>
                                </div>
                              {% endif %}
                            {% endfor %}
                            </div>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
                  </table>
                </div>
                <form  id="checkForm" action="{% url 'action' %}">
                  {% csrf_token %}
                  <button name="action" value="Accepted" class="btn btn-success" >Accept all</button>
                  <button name="action" value="Declined" class="btn btn-warning">Decline all</button>
                </form>
              {% else %}
                <p>No transactions</p>
              {% endif %}
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Transactions to Check</h3>
              <div class="card-tools">

              </div>
            </div>
            <!-- /.card-header -->

            <div class="card-body">
            <p class="text-muted">The section shows latest transaction scoring. The table shows merchant's risks and sugeests to perform reverals for all suspected </p>

                <div style="overflow-x: scroll; width: 100%;">

                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th></th>
                      <th>PAN</th>
                      <th>Amount</th>
                      <th>Terminal ID</th>
                      <th>Trans Date</th>
                      <th>Cardholder</th>
                      <th>Card</th>
                      <th>Address</th>
                      <th>Delivery</th>
                      <th>Score</th>
                      <th>Risk type</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="checkbox" name="1"></td>
                        <td>444444*0000</td>
                        <td>USD 156.00</td>
                        <td>US098234</td>
                        <td>24112019</td>
                        <td>OK</td>
                        <td>OK</td>
                        <td>OK</td>
                        <td>OK</td>
                        <td>100%</td>
                        <td><p class="text-green">None</p></td>
                    </tr>
                        <tr>
                        <td><input type="checkbox" name="1"></td>
                        <td>111111*0000</td>
                        <td>USD 10006.00</td>
                        <td>US098234</td>
                        <td>24112019</td>
                        <td>0</td>
                        <td>0</td>
                        <td>OK</td>
                        <td>0</td>
                        <td>20%</td>
                            <td><p class="text-red">No Authorisation</p></td>
                    </tr>
                                            <tr>
                        <td><input type="checkbox" name="1"></td>
                        <td>55555*0000</td>
                        <td>USD 345.00</td>
                        <td>US098234</td>
                        <td>24112019</td>
                        <td>OK</td>
                        <td>0</td>
                        <td>OK</td>
                        <td>OK</td>
                        <td>70%</td>
                        <td><p class="text-orange">Customer Dispute</p></td>
                    </tr>
                                                                <tr>
                        <td><input type="checkbox" name="1"></td>
                        <td>222222*0000</td>
                        <td>USD 45.00</td>
                        <td>US098234</td>
                        <td>24112019</td>
                        <td>OK</td>
                        <td>OK</td>
                        <td>OK</td>
                        <td>OK</td>
                        <td>100%</td>
                        <td><p class="text-green">None</p></td>
                    </tr>
                    </tbody>

                  </table>
                </div>
                <form  id="checkForm" action="{% url 'action' %}">
                  <button name="action" value="" class="btn btn-success" >Mark as normal</button>
                  <button name="action" value="" class="btn btn-warning">Revers all</button>
                </form>

            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
    </div>
  </section>

  <!-- /.content -->
{% endblock %}