{% extends "index.html" %}

{% block title %}Transactions{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active">
              {% if filter == 'accepted' %}
                Accepted disputes
              {% elif filter == 'declined' %}
                Declined disputes
              {% else %}
                All transactions
              {% endif %}
            </li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Financial report</h3>
              <div class="card-tools">

              </div>
            </div>
            <!-- /.card-header -->

            <form method="post">
              {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-md-5 offset-1 mb-0">
                  {{ form.terminal_id|as_crispy_field }}
                </div>
                <div class="form-group col-md-5 mb-0">
                  {{ form.date|as_crispy_field }}
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Search</button>
              </div>
            </form>

            <div class="card-body">
                <p class="text-muted">The section provides interchange and other requested analysis. </br>
                to test the form please enter:</br>
                TerminalID = Z1234567</br>
                Date = 2025-11-16</br>
                The form shows revenue by BINs in selected terminalID
                </p>
              {% if object_list %}
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>BIN</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th>Interchange rate, %</th>
                    <th>Interchange total</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for transaction in object_list %}
                    <tr>
                      <td>{{ transaction.card|slice:":6" }}</td>
                      <td>{{ transaction.quantity }}</td>
                      <td>{{ transaction.amount|default:"0" }}</td>
                      <td>{{ transaction.interchange_rate_percent }}</td>
                      <td>{{ transaction.interchange_total }}</td>
                    </tr>
                  {% endfor %}
                </table>
              {% else %}
                <p>No transactions</p>
              {% endif %}
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
    </div>
  </section>

  <!-- /.content -->
{% endblock %}