<!-- Sidebar Menu -->
<nav class="mt-2">
  <ul
      class="nav nav-pills nav-sidebar flex-column"
      data-widget="treeview"
      role="menu"
      data-accordion="false"
  >
    <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->

   <li>
      <a
          href="{% url 'incoming_chargebacks' %}"
          class="nav-link {% if request.resolver_match.url_name == 'incoming_chargebacks' %}active{% endif %}"
      >
        <i class="nav-icon fa fa-money"></i>
        <p>
          Incoming Chargebacks
        </p>
      </a>
    </li>
    <li>
      <a
          href="{% url 'transactions_search' %}"
          class="nav-link {% if request.resolver_match.url_name == 'transactions_search' %}active{% endif %}"
      >
        <i class="nav-icon fa fa-search"></i>
        <p>
          Transaction View
        </p>
      </a>
    </li>
    <li>
      <a
          href="{% url 'home' %}"
          class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}"
      >
        <i class="nav-icon fa fa-table"></i>
        <p>
          All transactions
        </p>
      </a>
    </li>
    <li>
      <a
          href="{% url 'accepted' %}"
          class="nav-link {% if request.resolver_match.url_name == 'accepted' %}active{% endif %}"
      >
        <i class="nav-icon fa fa-check"></i>
        <p>
          Accepted disputes
        </p>
      </a>
    </li>
    <li>
      <a
          href="{% url 'declined' %}"
          class="nav-link {% if request.resolver_match.url_name == 'declined' %}active{% endif %}"
      >
        <i class="nav-icon fa fa-close"></i>
        <p>
          Declined disputes
        </p>
      </a>
    </li>
    <li>
      <a
          href="{% url 'report_list' %}"
          class="nav-link {% if request.resolver_match.url_name == 'report_list' %}active{% endif %}"
      >
        <i class="nav-icon fa fa-book"></i>
        <p>
          ATM Report
        </p>
      </a>
    </li>

     <li>
      <a
          href="{% url 'fin_report' %}"
          class="nav-link {% if request.resolver_match.url_name == 'fin_report' %}active{% endif %}"
      >
        <i class="nav-icon fa fa-search"></i>
        <p>
          Financial Report
        </p>
      </a>
    </li>

    <li>
      <a
          href="{% url 'settings' %}"
          class="nav-link {% if request.resolver_match.url_name == 'settings' %}active{% endif %}"
      >
        <i class="nav-icon fa fa-user"></i>
        <p>
          Settings
        </p>
      </a>
    </li>



  </ul>
</nav>
<!-- /.sidebar-menu -->
