{% extends "index.html" %}

{% block title %}Reports{% endblock %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item active">Reports</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Reports</h3>
            <div class="card-tools">
            </div>
          </div>
          <!-- /.card-header -->

          <div class="card-body">
              <p class="text-muted">Please add your reports for further estimation here</p>
            <a href="{% url 'report_upload' %}" class="btn btn-info" role="button" aria-pressed="true">Upload atm report</a>

            {% if object_list %}
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Result</th>
                  <th>File</th>
                </tr>
              </thead>
              <tbody>
                {% for report in object_list %}
                <tr>
                  <td>{{ report.create_date }}</td>
                  <td>{{ report.status }}</td>
                  <td><a target="_blank" href="{{ report.log.url }}">{{ report.log }}</a></td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>No reports</p>
            {% endif %}
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
  </div>



  </div><!-- /.container-fluid -->
  </div>

</section>

<!-- /.content -->
{% endblock %}