{% extends "index.html" %}

{% block title %}Upload report{% endblock %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'report_list' %}">Reports</a></li>
            <li class="breadcrumb-item active">Upload report</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">UploadReport</h3>
              <div class="card-tools">
              </div>
            </div>
            <!-- /.card-header -->
  
            <div class="card-body">
                <form method="POST" action="{% url 'report_upload' %}" enctype="multipart/form-data" >
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn btn-info" role="button" aria-pressed="true">Submit</button>
                </form>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
    </div>
  
  
  
    </div><!-- /.container-fluid -->
</div>
  
</section>
  
{% endblock %}