{% extends "index.html" %}

{% load bootstrap3 i18n %}

{% block title %}View transaction{% endblock %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active">Transaction View</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Transaction </h3>
              <div class="card-tools">
  
              </div>
            </div>
            <!-- /.card-header -->
  
            <div class="card-body">
                {{ object.raw|linebreaksbr }}
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
    </div>
  
    <form method="post" role="form">
      {% if form.errors %}
          <p class="errornote">
              {% if form.errors.items|length == 1 %}
                  {% trans "Please correct the error below." %}
              {% else %}
                  {% trans "Please correct the errors below." %}
              {% endif %}
          </p>
      {% endif %}
  
      {% csrf_token %}

      {% bootstrap_form form %}

      {% buttons %}
          <input class="btn btn-primary btn-flat" type="submit" value="{% trans 'Save comment' %}">
      {% endbuttons %}
  </form>
    
    </div><!-- /.container-fluid -->
</div>
  
</section>
  
{% endblock %}