@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}
.bigCard {
  width: 80%;
}

@media (max-width: 500px) { 
  .bigCard {
    width: 100%;
  }
}