<script src="node_modules/chart.js/src/chart.js"></script>

<div *ngIf="role ==='top_level' || role ==='cop_manager'" >

  <nb-card>
    
      <nb-card-header>
        Статистика
        <button  nbButton status="primary" (click)="goBack()">Повернутись</button>
      </nb-card-header>
    
      <nb-card-body>

      <div class="row">

        <nb-card class="col-3 col-sm-2">
            <nb-card-header>блок 1</nb-card-header>
            <nb-card-body>
                <div style="display: flex; flex-direction: column; text-align: center;">
                  <div>
                    Нові
                  </div>
                  <div style="font-size: 40px; margin-top: 20px;">
                    {{b1_new_claims}}
                  </div>
                  
                  <div style="margin-top: 15px;">
                    Стежити
                  </div>
                  <div style="font-size: 40px; margin-top: 20px;">
                    {{b1_attend_to_claims}}
                  </div>
                </div>
            </nb-card-body>
        </nb-card>

        <nb-card class="col-3 col-sm-5" >
            <nb-card-header>блок 2</nb-card-header>
            <nb-card-body style="width: 100%;">
              <div style="text-align: center;">
                <app-bank-chart-statistic-claims-stages></app-bank-chart-statistic-claims-stages>
              </div>
            </nb-card-body>
        </nb-card>
        
      </div>



      <div class="row">
        
        <nb-card class="col-3 col-sm-5">
            <nb-card-header>блок 3</nb-card-header>
            <nb-card-body>
                <div style="text-align: center;">
                  <app-bank-chart-statistic-claims-rc-group></app-bank-chart-statistic-claims-rc-group>
                </div>
            </nb-card-body>
        </nb-card>

        <nb-card class="col-3 col-sm-2">
            <nb-card-header>блок 4</nb-card-header>
            <nb-card-body>
              <div style="display: flex; flex-direction: column; text-align: center;">
                <div>
                  Активні користувачи
                </div>
                <div style="font-size: 40px; margin-top: 20px;">
                  {{b4_active_bank_users}}
                </div>
              </div>
            </nb-card-body>
        </nb-card>
        
      </div>


      </nb-card-body>

  </nb-card>

</div>