<div class="center-screen">

  <nb-card class="customCardHeight" style="width: 70%; margin: auto; overflow: auto; max-width: 500px;">
    <nb-card-header style="width: 100%; padding: 0.5em 1em;">
      {{'merch_user_component.text1' | translate}}
    </nb-card-header>

    <nb-card-body style="padding-bottom: 0; overflow-y: auto; padding-top: 1em; display: flex; flex-direction: column; align-items: center;">

      <!-- <input nbInput placeholder="Ім'я" [(ngModel)]="data.first_name" maxlength="999">
      <input nbInput placeholder="Призвище" [(ngModel)]="data.last_name" maxlength="999"> -->

      <input nbInput class="marginMerchUser" placeholder="{{'merch_user_component.text2' | translate}}" [(ngModel)]="data.merch_id" maxlength="999">
      <!-- <div class="div-panel"> -->
        <nb-select class="selector-list marginMerchUser"
          [(ngModel)]="bankID"
          placeholder="{{'merch_user_component.text3' | translate}}">
          <nb-option *ngFor="let item of banksList" [value]="item.id">
            {{ item.name_eng }}
          </nb-option>
        </nb-select>
      <!-- </div> -->
      <input class="marginMerchUser" nbInput placeholder="{{'merch_user_component.text4' | translate}}" [(ngModel)]="data.name_legal" maxlength="999">
      <input class="marginMerchUser" nbInput placeholder="{{'merch_user_component.text5' | translate}}" [(ngModel)]="data.mcc" maxlength="999">
      <input class="marginMerchUser" nbInput placeholder="{{'merch_user_component.text6' | translate}}" [(ngModel)]="data.description" maxlength="999">
      <input class="marginMerchUser" nbInput placeholder="{{'merch_user_component.text7' | translate}}" [(ngModel)]="data.phone" maxlength="13">
      <input class="marginMerchUser" nbInput placeholder="{{'merch_user_component.text8' | translate}}" [(ngModel)]="data.email" maxlength="999">
      <input class="marginMerchUser" nbInput placeholder="{{'merch_user_component.text9' | translate}}" [(ngModel)]="data.name_ips" maxlength="999">
      <input class="marginMerchUser" nbInput placeholder="{{'merch_user_component.text10' | translate}}" [(ngModel)]="data.address" maxlength="999">
      <input class="marginMerchUser" nbInput placeholder="{{'merch_user_component.text11' | translate}}" [(ngModel)]="data.term_id" maxlength="999">
      <input class="marginMerchUser" nbInput placeholder="{{'merch_user_component.text12' | translate}}" [(ngModel)]="data.contact_person" maxlength="999">
      <input class="marginMerchUser" nbInput placeholder="{{'merch_user_component.text13' | translate}}" [(ngModel)]="data.password" maxlength="40">

    </nb-card-body>

    <nb-card-footer>
      <div class="button-enter">
        <button nbButton size="small" status="primary" (click)="goBack()">{{'merch_user_component.button1' | translate}}</button>
        <button nbButton size="small" status="primary" style="margin-left: 10px;"
          [nbSpinner]="loadingCreate" nbSpinnerStatus="info"
          (click)="createMerchUser()">{{'merch_user_component.button2' | translate}}</button>
      </div>
    </nb-card-footer>

  </nb-card>

</div>
