<nb-card class="customCardHeight" style="margin-bottom: 0.5em; border: unset;" status="info">
    <nb-card-header style="padding: 0.3em; text-align: center;">
        {{isEdit?'Редагування АТМ':'Перегляд АТМ'}}
    </nb-card-header>
    <nb-card-body>
        <div *ngIf="isUiLoad">
            <div class="div-panel">
                <label class="label-caption">Контактна особа</label> 
                <label *ngIf="!isEdit" class="label-data">{{currentAtm.contact_person}}</label>
                <input *ngIf="isEdit" nbInput placeholder="Контактна особа" [(ngModel)]="editedAtm.contact_person" maxlength="999">
            </div>
            <div class="div-panel">
                <label class="label-caption">Merchant ID</label> 
                <label *ngIf="!isEdit" class="label-data">{{currentAtm.merch_id}}</label>
                <input *ngIf="isEdit" nbInput placeholder="Merchant ID" [(ngModel)]="editedAtm.merch_id" maxlength="999">
            </div>
            <div class="div-panel">
                <label class="label-caption">Юридична назва</label> 
                <label *ngIf="!isEdit" class="label-data">{{currentAtm.name_legal}}</label>
                <input *ngIf="isEdit" nbInput placeholder="Юридична назва" [(ngModel)]="editedAtm.name_legal" maxlength="999">
            </div>
            <div class="div-panel">
                <label class="label-caption">Назва торговця в МПС</label> 
                <label *ngIf="!isEdit" class="label-data">{{currentAtm.name_ips}}</label>
                <input *ngIf="isEdit" nbInput placeholder="Назва торговця в МПС" [(ngModel)]="editedAtm.name_ips" maxlength="999">
            </div>
            <div class="div-panel">
                <label class="label-caption">Вид діяльності</label> 
                <label *ngIf="!isEdit" class="label-data">{{currentAtm.description}}</label>
                <input *ngIf="isEdit" nbInput placeholder="Вид діяльності" [(ngModel)]="editedAtm.description" maxlength="999">
            </div>
            <div class="div-panel">
                <label class="label-caption">MCC</label> 
                <label *ngIf="!isEdit" class="label-data">{{currentAtm.mcc}}</label>
                <input *ngIf="isEdit" nbInput placeholder="MCC" [(ngModel)]="editedAtm.mcc" maxlength="999">
            </div>
            <div class="div-panel">
                <label class="label-caption">Адреса</label> 
                <label *ngIf="!isEdit" class="label-data">{{currentAtm.address}}</label>
                <input *ngIf="isEdit" nbInput placeholder="Адреса" [(ngModel)]="editedAtm.address" maxlength="999">
            </div>
            <div *ngIf="!isEdit" class="div-panel">
                <label class="label-caption">BIN</label> 
                <label class="label-data">{{currentAtm.bin}}</label>                
            </div>
            <div *ngIf="!isEdit" class="div-panel">
                <label class="label-caption">Банк</label> 
                <label *ngIf="!isEdit" class="label-data">{{currentAtm.bankCustom.name_eng}}</label>
                <!-- <nb-select *ngIf="isEdit" [(ngModel)]="editedAtm.bank" placeholder="Банк">
                    <nb-option *ngFor="let item of banksList" [value]="item.id">
                    {{ item.name_eng }}
                    </nb-option>
                </nb-select> -->
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <button *ngIf="!isEdit" nbButton size="small" status="primary" (click)="goBack()">Повернутися до списку</button>
        <button *ngIf="!isEdit" style="margin-left: 1em;" nbButton size="small" status="primary" (click)="editAtm()">Редагувати</button>
        <button *ngIf="isEdit" nbButton size="small" status="primary" (click)="closeEditAtm()">Відмінити</button>
        <button *ngIf="isEdit" style="margin-left: 1em;" [nbSpinner]="loadingUpdate" nbSpinnerStatus="info" nbButton size="small" status="primary" (click)="updateAtm()">Зберегти зміни</button>
    </nb-card-footer>
</nb-card>