<nb-card>
    <nb-card-header>
      <div style="display: flex;">
        Список скарг
        <div class="button-enter" style="margin-left: 10px;width: 100px;">
          <button  nbButton style="width: 100%;"
            status="primary" (click)="refresh_claim()">Оновити</button>
        </div>
        <div class="button-enter" style="margin-left: 10px;width: 100px;">
          <button  nbButton style="width: 100%;" 
            status="primary" (click)="createReport()">Звіт</button>
        </div>
      </div> 
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source" 
      (userRowSelect)="onUserRowSelect($event)"
      (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </nb-card-body>

</nb-card>