@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}

.fileAttached {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}