<nb-card class="customCardHeight" style="margin: auto;">
    <nb-card-header style="display: flex; align-items: baseline;">
      <label>
        Додати файл лога
      </label>
      <input #fileInput [hidden]="true" placeholder="Додати файл" onclick="this.value=null"
        type='file' [accept]="acceptFiles" (change)="fileChanged($event)">
        <nb-icon style="margin-left: 0.5em;" icon="attach-outline" (click)="fileInput.click()"></nb-icon>&nbsp;&nbsp;
      <button *ngIf="filesArr.length > 0" style="margin-left: 1em;" nbButton size="small" status="primary" 
        (click)="onClickUploadLogs()">Завантажити обрані файли</button>
    </nb-card-header>
  
    <nb-card-body>
      <div>

        
      <div *ngFor="let file of filesArr" class="fileAttached">
          <div>{{file.name}}</div>
          <nb-icon icon="close-outline" style="margin-left: 1em;" (click)="deleteAttachedFile(file)"></nb-icon>
      </div>
                                    
      </div>
      
    </nb-card-body>

</nb-card>
