@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}

.div-panel{
  display: flex;
  margin-bottom: 10px;
}

.label-caption {
  width: 38%;
  text-transform: uppercase;
}
.label-data {
  width: 60%;
  font-weight: bold;
  text-transform: uppercase;
}

:host /deep/ ng2-smart-table thead > tr > th  { 
  font-size: 11px;
}

:host /deep/ ng2-smart-table thead > tr > th > ng2-st-column-title > div > ng2-smart-table-title > a { 
  font-size: 11px;
}

:host /deep/ ng2-smart-table tbody > tr > td  { 
  font-size: 12px;
}