<div style="display: flex; justify-content: flex-end; width: 100%;">
  <button (click)="openWindowWithoutBackdrop()" nbButton shape="round" size="small"><nb-icon icon="settings-outline"></nb-icon></button>
</div>
<div class="control-section">

    <div class="content-wrapper">
      <ejs-kanban #kanbanObj cssClass='kanban-overview' (cardDoubleClick)='openOnDoubleClick($event)' keyField="Status" [dataSource]='kanbanData'
        [cardSettings]='cardSettings' enableTooltip='false' [dialogSettings]='dialogSettings'
         (cardRendered)='cardRendered($event)'>
        <e-columns>
          <e-column *ngFor="let column of columns;" headerText={{column.headerText}} keyField='{{column.keyField}}'
            [allowToggle]='column.allowToggle' [allowDrop]='column.allowDrop' [allowDrag]='column.allowDrag'>
            <ng-template #template let-data>
              <div class="header-template-wrap">
                <div class="header-icon e-icons {{data.keyField}}"></div>
                <div class="header-text">{{data.headerText}}</div>
              </div>
            </ng-template>
          </e-column>
        </e-columns>
        <ng-template #cardSettingsTemplate let-data>
          <div class='card-template'>
            <div class='e-card-header'>
              <div class='e-card-header-caption'>
                <div class='e-card-header-title' style="cursor: pointer;" (click)="goToClaim(data)">{{data.Title}}</div>
              </div>
            </div>
            <div class='e-card-content e-tooltip-text'>
              <div class='e-text'>{{data.Summary}}</div>
            </div>
            <div class='e-card-custom-footer'>
              <div class="e-card-tag-field e-tooltip-text" *ngFor="let tag of data.Tags.split(',');">{{tag}}</div>
              <!-- <div class='e-card-avatar'>{{getString(data.Assignee)}}</div> -->
            </div>
          </div>
        </ng-template>
      </ejs-kanban>
    </div>
  </div>

  <ng-template #settingsKanbanTemplate>
    <div *ngFor="let set of columns; let i = index" class="chboKanbanDialogColumn">
      {{set.headerText}} <button *ngIf="columnsProtected.indexOf(set.headerText) == -1" nbButton shape="round" size="tiny" (click)="removeColumn(i)"><nb-icon icon="close"></nb-icon></button>
    </div>
    <div>
      <button *ngIf="!isCreatingNewColumn" (click)="addNewColumn()" nbButton>Add</button>
    </div>
    <div *ngIf="isCreatingNewColumn" style="display: flex; flex-direction: column;">
      <input style="margin-bottom: 0.5em;" type="text" [(ngModel)]="createColumnName" nbInput fieldSize="tiny" placeholder="Name">
      <input style="margin-bottom: 0.5em;" type="text" [(ngModel)]="createColumnDescription" nbInput fieldSize="tiny" placeholder="Description">
      <div>Insert after: {{createColumnPosition}}</div>
      <input type="range" [(ngModel)]="createColumnPosition"
         min="1" max="{{columns.length - 1}}">
      <!-- <input style="margin-bottom: 0.5em;" type="text" [(ngModel)]="createColumnPosition" nbInput fieldSize="tiny" placeholder="Position"> -->
      <div style="display: flex; justify-content: space-evenly;">
        <button (click)="createColumn()" nbButton>Create</button>
        <button (click)="cancelCreateColumn()" nbButton>Cancel</button>
      </div>
      
    </div>
  </ng-template>

  <ng-template #dialogKanbanTemplate let-data>
    <div style="display: flex; flex-direction: column;">
      <div class="dialogDetailsKanbanItem" style="display: flex; justify-content: space-between; align-items: center;">
        <div><div class="dialogDetailsKanbanItemTitle">Pan:</div>{{data.pan}}</div> 
        <button (click)="goToClaim(data)" style="cursor: pointer;" nbButton shape="round" size="small">
          <nb-icon icon="external-link-outline"></nb-icon>
        </button>
      </div>
      <div class="dialogDetailsKanbanItem" style="display: flex; flex-direction: column;"><div class="dialogDetailsKanbanItemTitle">Resaon code</div> <div style="display: flex;"> <div *ngIf="data.reason_code">{{data.reason_code}} -</div>  <div>{{data.reason_code_group}}</div></div></div>
      <div class="dialogDetailsKanbanItem"><div class="dialogDetailsKanbanItemTitle">Result</div> {{data.result}}</div>
      <div class="dialogDetailsKanbanItem"><div class="dialogDetailsKanbanItemTitle">Status</div> {{data.status.name}}</div>
      <div class="dialogDetailsKanbanItem"><div class="dialogDetailsKanbanItemTitle">Merchant name</div> {{data.merch_name_ips}}</div>
      <div class="dialogDetailsKanbanItem"><div class="dialogDetailsKanbanItemTitle">Terminal id</div> {{data.term_id}}</div>
      <div class="dialogDetailsKanbanItem"><div class="dialogDetailsKanbanItemTitle">Amount</div> {{data.trans_amount}} {{data.trans_currency}}</div>
      <div class="dialogDetailsKanbanItem"><div class="dialogDetailsKanbanItemTitle">Approcal code</div> {{data.trans_approval_code}}</div>
      <!-- <div style="display: flex; justify-content: space-between; margin-bottom: 0.5em;"><div style="margin-right: 0.5em; padding: 0.5em; font-size: 12px;" *ngFor="let tag of data.Tags.split(',');">{{tag}}</div></div> -->
      <div></div>
    </div>
    
  </ng-template>
  
  

<!-- <nb-card class="customCardHeight">
    <nb-card-body>
        <ejs-kanban #kanbanObj cssClass='kanban-overview' keyField="Status" [dataSource]='kanbanData'
            [cardSettings]='cardSettings' enableTooltip='true' [swimlaneSettings]='swimlaneSettings' [dialogSettings]='dialogSettings' (cardRendered)='cardRendered($event)'>
            <e-columns>
                <e-column *ngFor="let column of columns;" headerText={{column.headerText}} keyField='{{column.keyField}}'
                allowToggle='{{column.allowToggle}}'>
                <ng-template #template let-data>
                    <div class="header-template-wrap">
                    <div class="header-icon e-icons {{data.keyField}}"></div>
                    <div class="header-text">{{data.headerText}}</div>
                    </div>
                </ng-template>
                </e-column>
            </e-columns>
            <ng-template #cardSettingsTemplate let-data>
                <div class='card-template'>
                <div class='e-card-header'>
                    <div class='e-card-header-caption'>
                    <div class='e-card-header-title e-tooltip-text'>{{data.Title}}</div>
                    </div>
                </div>
                <div class='e-card-content e-tooltip-text'>
                    <div class='e-text'>{{data.Summary}}</div>
                </div>
                <div class='e-card-custom-footer'>
                    <div class="e-card-tag-field e-tooltip-text" *ngFor="let tag of data.Tags.split(',');">{{tag}}</div>
                    <div class='e-card-avatar'>{{getString(data.Assignee)}}</div>
                </div>
                </div>
            </ng-template>
        </ejs-kanban>
    </nb-card-body>
</nb-card> -->