<nb-card style="height: 40em; ">
  
    <nb-card-header>
      Данні
      <button  nbButton size="small" status="primary" (click)="goStatistic()">Cтатистика</button>
    </nb-card-header>
  
    <nb-card-body style="overflow-y: hidden;">
      <div class="col-12">
        <nb-card size="small" style="height: 33em;">
          <nb-tabset fullWidth>

            <nb-tab tabTitle="Користувачи">
              <button nbButton size="small" status="primary" (click)="createBankUser()">Зареєструвати</button>
              <nb-card style="height: 25em;">
                <nb-card-body>

                  <ng2-smart-table [settings]="settingsBankUser" [source]="sourceBankUser">
                  </ng2-smart-table>

                </nb-card-body>
              </nb-card>
      
            </nb-tab>
            
            <nb-tab tabTitle="Мерчанти">
              <button nbButton size="small" status="primary" (click)="createMerch()">Зареєструвати</button>
              <nb-card style="height: 25em;">
                <nb-card-body>

                  <ng2-smart-table [settings]="settingsMerch" [source]="sourceMerch">
                  </ng2-smart-table>

                </nb-card-body>
              </nb-card>
            </nb-tab>

          </nb-tabset>
        </nb-card>
      </div>
    
    </nb-card-body>

</nb-card>
