<nb-card class="customCardHeight">
  
    <nb-card-header style="padding: 0.2em 1em;">
      <div *ngIf="routeParamsStatus == 'users'">
        Користувачі
        <button nbButton size="tiny" status="primary" style="margin-left: 2em;" (click)="createBankUser()">Зареєструвати</button>
      </div>

      <div *ngIf="routeParamsStatus != 'users'">
        Мерчанти
        <button nbButton size="tiny" status="primary" style="margin-left: 2em;" (click)="createMerch()">Зареєструвати</button>
      </div>

    </nb-card-header>
  
    <nb-card-body style="padding: 0.2em;">

      <div *ngIf="routeParamsStatus == 'users'">
        <ngx-table #table  [data]="dataTable1" [columns]="columns1" [noResultsTemplate]="noResultsTemplate1"
        [configuration]="configuration1" [pagination]="pagination1" (event)="eventEmitted1($event)">
        </ngx-table>
      </div> 
      <div *ngIf="routeParamsStatus != 'users'">
        <ngx-table #table2  [data]="dataTable2" [columns]="columns2" [noResultsTemplate]="noResultsTemplate2"
        [configuration]="configuration2" [pagination]="pagination2" (event)="eventEmitted2($event)">
        </ngx-table>
      </div> 

      <ng-template #noResultsTemplate1>
        <td style="text-align: center;" *ngIf="!this.configuration1.isLoading" [attr.colspan]="columns1.length" class="no-results">
          No results
        </td>
      </ng-template>
      <ng-template #noResultsTemplate2>
        <td style="text-align: center;" *ngIf="!this.configuration2.isLoading" [attr.colspan]="columns2.length" class="no-results">
          No results
        </td>
      </ng-template>   
    </nb-card-body>

</nb-card>
