<div *ngIf="role ==='top-level' || role ==='cop_manager'" >

  <nb-card>
    
      <nb-card-header>
        Статистика
      </nb-card-header>
    
      <nb-card-body>

      <div class="row">
        
        <nb-card class="col-6 col-sm-3">
            <nb-card-header>блок 1</nb-card-header>
            <nb-card-body>
                <div style="text-align: center; font-weight: 700;">
                  new_claims: {{b1_new_claims}}
                </div>
            </nb-card-body>
        </nb-card>

        <nb-card class="col-6 col-sm-3">
            <nb-card-header>блок 2</nb-card-header>
            <nb-card-body>
              <div style="text-align: center; font-weight: 700;">
              
                arbitration_claims: {{b2_arbitration_claims}}  
                <br>
                chargeback_claims: {{b2_chargeback_claims}}
                <br>
                chargeback_escalation_claims: {{b2_chargeback_escalation_claims}}
                <br>
                closed_claims: {{b2_closed_claims}}
                <br>
                dispute_claims: {{b2_dispute_claims}}
                <br>
                dispute_response_claims: {{b2_dispute_response_claims}}
                <br>
                final_ruling_claims: {{b2_final_ruling_claims}}
                <br>
                mediation_claims: {{b2_mediation_claims}}
                <br>
                pre_arbitration_claims: {{b2_pre_arbitration_claims}}
                <br>
                pre_arbitration_response_claims: {{b2_pre_arbitration_response_claims}}
                <br>
                pre_mediation_claims: {{b2_pre_mediation_claims}}
                
              </div>
                          
            </nb-card-body>
        </nb-card>

        <nb-card class="col-6 col-sm-3">
            <nb-card-header>блок 3</nb-card-header>
            <div style="text-align: center; font-weight: 700;">
              fraud_claims: {{b3_fraud_claims}}
              <br>
              authorization_claims: {{b3_authorization_claims}}
              <br>
              point_of_interaction_error_claims: {{b3_point_of_interaction_error_claims}}
              <br>
              cardholder_disputes_claims: {{b3_cardholder_disputes_claims}}
            </div>    
        </nb-card>
        
      </div>

      <div class="row">
        
        <nb-card class="col-6 col-sm-3">
            <nb-card-header>блок 4</nb-card-header>
            <nb-card-body>
                <div style="text-align: center; font-weight: 700;">
                  attend_to_claims: {{b4_attend_to_claims}}
                </div>
            </nb-card-body>
        </nb-card>

        <nb-card class="col-6 col-sm-3">
            <nb-card-header>блок 5</nb-card-header>
            <nb-card-body>
              <div style="text-align: center; font-weight: 700;">
              
                arbitration_claims: {{b5_arbitration_claims}}  
                <br>
                chargeback_claims: {{b5_chargeback_claims}}
                <br>
                chargeback_escalation_claims: {{b5_chargeback_escalation_claims}}
                <br>
                closed_claims: {{b5_closed_claims}}
                <br>
                dispute_claims: {{b5_dispute_claims}}
                <br>
                dispute_response_claims: {{b5_dispute_response_claims}}
                <br>
                final_ruling_claims: {{b5_final_ruling_claims}}
                <br>
                mediation_claims: {{b5_mediation_claims}}
                <br>
                pre_arbitration_claims: {{b5_pre_arbitration_claims}}
                <br>
                pre_arbitration_response_claims: {{b5_pre_arbitration_response_claims}}
                <br>
                pre_mediation_claims: {{b5_pre_mediation_claims}}
                <br>
                
              </div>
                          
            </nb-card-body>
        </nb-card>

        <nb-card class="col-6 col-sm-3">
            <nb-card-header>блок 6</nb-card-header>
            <div style="text-align: center; font-weight: 700;">
              fraud_claims: {{b6_fraud_claims}}
              <br>
              authorization_claims: {{b6_authorization_claims}}
              <br>
              point_of_interaction_error_claims: {{b6_point_of_interaction_error_claims}}
              <br>
              cardholder_disputes_claims: {{b6_cardholder_disputes_claims}}
            </div>    
        </nb-card>
        
      </div>
      


      </nb-card-body>

  </nb-card>

</div>