<script src="node_modules/chart.js/src/chart.js"></script>

<div *ngIf="role ==='top-level' || role ==='cop_manager'" >

  <nb-card style="height:55em;">
    
      <nb-card-header>
        Статистика
      </nb-card-header>
    
      <nb-card-body style="overflow-y: hidden;" >

        <div class="row" >
          
          <nb-card class="col-3 col-sm-2 style-cell">
              <nb-card-header>блок 1</nb-card-header>
              <nb-card-body>
                <div class="style-text-block">
                  <div>
                    Нові скарги
                  </div>
                  <div class="style-text-block-value">
                    {{b1_new_claims}}
                  </div>
                </div>
              </nb-card-body>
          </nb-card>

          <nb-card class="col-3 col-sm-5 style-cell" >
              <nb-card-header>блок 2</nb-card-header>
              <nb-card-body style="width: 100%;" >
                <div style="text-align: center;">
                  <app-chart-statistic-claims-stages></app-chart-statistic-claims-stages>
                </div>
              </nb-card-body>
          </nb-card>

          <nb-card class="col-3 col-sm-5 style-cell">
              <nb-card-header>блок 3</nb-card-header>
              <nb-card-body style="width: 100%;" >
              <div style="text-align: center; ">
                <app-chart-statistic-claims-rc-group></app-chart-statistic-claims-rc-group>
              </div>    
            </nb-card-body>
          </nb-card>
          
        </div>

        <div class="row" >
          
          <nb-card class="col-3 col-sm-2 style-cell">
              <nb-card-header>блок 4</nb-card-header>
              <nb-card-body>
                  <div class="style-text-block">
                    <div>
                      Стежити
                    </div>
                    <div class="style-text-block-value">
                      {{b4_attend_to_claims}}
                    </div>
                  </div>
              </nb-card-body>
          </nb-card>

          <nb-card class="col-3 col-sm-5 style-cell">
              <nb-card-header>блок 5</nb-card-header>
                <nb-card-body style="width: 100%;" >
                  <div style="text-align: center; ">
                    <app-chart-statistic-claims-stages></app-chart-statistic-claims-stages>
                  </div>    
              </nb-card-body>
          </nb-card>

          <nb-card class="col-3 col-sm-5 style-cell">
              <nb-card-header>блок 6</nb-card-header>
              <nb-card-body style="width: 100%;" >
                <div style="text-align: center; ">
                  <app-chart-statistic-claims-rc-group></app-chart-statistic-claims-rc-group>
                </div>    
              </nb-card-body>
          </nb-card>
          
        </div>


      </nb-card-body>

  </nb-card>

</div>