<nb-card class="customCardHeight" style="border: unset;" status="info">
    <nb-card-header style="width: 100%; text-align: center;">
       
        <div [ngSwitch]="this.routeParamsStatus">
            <ng-template ngSwitchCase="merchant">{{'register_user_component.text1' | translate}}</ng-template>
            <ng-template ngSwitchCase="atm">{{'register_user_component.text2' | translate}}</ng-template>
            <ng-template ngSwitchCase="user">{{'register_user_component.text3' | translate}}</ng-template>
          </div>
    </nb-card-header>  
    <nb-card-body >
        <div style="display: flex; flex-direction: column;">
            <div *ngIf="!selectedFile" style="display: flex;">
                {{'register_user_component.text4' | translate}} &nbsp;&nbsp;
                <input #fileInput  name="file_upload"
                [hidden]="true" placeholder="Додати файл" onclick="this.value=null"
                type='file'  (change)="fileChanged($event)">
                <nb-icon icon="attach-outline" (click)="fileInput.click()"></nb-icon>
            </div>
            <div *ngIf="this.merchantsArr.length != 0" style="display: flex; flex-direction: column;">
                <div class="tableItem" *ngFor="let merch of merchantsArr; let i = index;">
                    <div class="tableColumn">
                    <div class="tableColumnTitle">
                        {{'register_user_component.text5' | translate}}
                    </div> 
                    <div class="tableColumnBody">
                            {{merch.merchant.contact_person}}
                    </div>
                    </div>
                    <div class="tableColumn">
                        <div class="tableColumnTitle">
                            {{'register_user_component.text6' | translate}}
                        </div> 
                        <div class="tableColumnBody">
                            {{merch.merchant.name_legal}}
                        </div>
                    </div>
                    <div class="tableColumn">
                        <div class="tableColumnTitle">
                            {{'register_user_component.text7' | translate}}
                        </div> 
                        <div class="tableColumnBody">
                            {{merch.merchant.name_ips}}
                        </div>
                    </div>
                    <div class="tableColumn">
                        <div class="tableColumnTitle">
                            {{'register_user_component.text8' | translate}}
                        </div> 
                        <div class="tableColumnBody">
                            {{merch.merchant.mcc}}
                        </div>
                    </div>
                    <div class="tableColumn">
                        <div class="tableColumnTitle">
                            {{'register_user_component.text9' | translate}}
                        </div> 
                        <div class="tableColumnBody">
                            {{merch.email}}
                        </div>
                    </div>
                    <div class="tableColumn">
                        <div class="tableColumnTitle">
                            {{'register_user_component.text10' | translate}}
                        </div> 
                        <div class="tableColumnBody">
                                {{merch.phone}}
                        </div>
                    </div>
                    <div class="tableColumn">
                        <div class="tableColumnTitle">
                            {{'register_user_component.text11' | translate}}
                        </div> 
                        <div class="tableColumnBody">
                                {{merch.merchant.address}}
                        </div>
                    </div>
                    <div class="tableColumn">
                        <div class="tableColumnTitle">
                            {{'register_user_component.text12' | translate}}
                        </div> 
                        <div class="tableColumnBody">
                                {{merch.merchant.description}}
                        </div>
                    </div>  
                    <div class="tableColumn">
                        <div class="tableColumnTitle"></div> 
                        <div class="tableColumnBody">
                            <button nbButton ghost status="danger" (click)="removeMerchant(i)"><nb-icon icon="close-outline"></nb-icon></button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="this.atmsArr.length != 0" style="display: flex; flex-direction: column;">
                <div class="tableItem" *ngFor="let atm of atmsArr; let i = index;">
                    <div class="tableColumn">
                       <div class="tableColumnTitle">
                        {{'register_user_component.text13' | translate}}
                       </div> 
                       <div class="tableColumnBody">
                            {{atm.contact_person}}
                       </div>
                    </div>
                    <div class="tableColumn">
                        <div class="tableColumnTitle">
                            {{'register_user_component.text14' | translate}}
                        </div> 
                        <div class="tableColumnBody">
                            {{atm.name_legal}}
                        </div>
                    </div>
                    <div class="tableColumn">
                        <div class="tableColumnTitle">
                            {{'register_user_component.text15' | translate}}
                        </div> 
                        <div class="tableColumnBody">
                            {{atm.name_ips}}
                        </div>
                    </div>
                    <div class="tableColumn">
                        <div class="tableColumnTitle">
                            {{'register_user_component.text16' | translate}}
                        </div> 
                        <div class="tableColumnBody">
                            {{atm.mcc}}
                        </div>
                    </div>
                    <div class="tableColumn">
                        <div class="tableColumnTitle">
                            {{'register_user_component.text17' | translate}}
                        </div> 
                        <div class="tableColumnBody">
                            {{atm.address}}
                        </div>
                    </div>
                    <div class="tableColumn">
                        <div class="tableColumnTitle"></div> 
                        <div class="tableColumnBody">
                            <button nbButton ghost status="danger" (click)="removeAtm(i)"><nb-icon icon="close-outline"></nb-icon></button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="this.usersArr.length != 0" style="display: flex; flex-direction: column;">
                <div class="tableItem" *ngFor="let user of usersArr; let i = index;">
                    <div class="tableColumn">
                       <div class="tableColumnTitle">
                        {{'register_user_component.text18' | translate}}
                       </div> 
                       <div class="tableColumnBody">
                            {{user.first_name}}
                       </div>
                    </div>
                    <div class="tableColumn">
                        <div class="tableColumnTitle">
                            {{'register_user_component.text19' | translate}}
                        </div> 
                        <div class="tableColumnBody">
                            {{user.last_name}}
                        </div>
                    </div>
                    <div class="tableColumn">
                        <div class="tableColumnTitle">
                            {{'register_user_component.text20' | translate}}
                        </div> 
                        <div class="tableColumnBody">
                            {{user.role}}
                        </div>
                    </div>
                    <div class="tableColumn">
                        <div class="tableColumnTitle">
                            {{'register_user_component.text21' | translate}}
                        </div> 
                        <div class="tableColumnBody">
                            {{user.bankemployee.unit}}
                        </div>
                    </div>
                    <div class="tableColumn">
                        <div class="tableColumnTitle">
                            {{'register_user_component.text22' | translate}}
                        </div> 
                        <div class="tableColumnBody">
                            {{user.email}}
                        </div>
                    </div>
                    <div class="tableColumn">
                        <div class="tableColumnTitle">
                            {{'register_user_component.text23' | translate}}
                        </div> 
                        <div class="tableColumnBody">
                            {{user.phone}}
                        </div>
                    </div>
                    <div class="tableColumn">
                        <div class="tableColumnTitle">
                            {{'register_user_component.text24' | translate}}
                        </div> 
                        <div class="tableColumnBody">
                            {{user.password}}
                        </div>
                    </div>
                    <div class="tableColumn">
                        <div class="tableColumnTitle"></div> 
                        <div class="tableColumnBody">
                            <button nbButton ghost status="danger" (click)="removeUser(i)"><nb-icon icon="close-outline"></nb-icon></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <button *ngIf="this.merchantsArr.length != 0" [nbSpinner]="loadingCreate" nbSpinnerStatus="info" nbButton size="small" status="primary" (click)="createNewMerchants()"> {{'register_user_component.button1' | translate}}</button>
        <button *ngIf="this.atmsArr.length != 0" [nbSpinner]="loadingCreate" nbSpinnerStatus="info" nbButton size="small" status="primary" (click)="createNewAtm()">{{'register_user_component.button1' | translate}}</button>
        <button *ngIf="this.usersArr.length != 0" [nbSpinner]="loadingCreate" nbSpinnerStatus="info" nbButton size="small" status="primary" (click)="createNewUser()">{{'register_user_component.button1' | translate}}</button>
    </nb-card-footer>
</nb-card>
