.tableItem {
    display: flex;
    justify-content: space-between;
}
.tableItem:hover {
    background-color: ghostwhite;
}

.tableColumn {
    display: flex;
    flex-direction: column;
    padding: 0.2em 1em;
    min-width: 9em;
}
.tableColumn:first-of-type {
   padding-left: 0;
}
.tableColumn:last-of-type {
    min-width: 5em;
}
// .tableColumn:nth-child(1) {
//     min-width: 10em;
//     padding-left: 0;
// }
// .tableColumn:nth-child(2) {
//     min-width: 12em;
// }
// .tableColumn:nth-child(3) {
//     min-width: 12em;
// }
// .tableColumn:nth-child(4) {
//     min-width: 5em;
// }
// .tableColumn:nth-child(5) {
//     min-width: 11em;
// }
// .tableColumn:nth-child(7) {
//     min-width: 9em;
// }
// .tableColumn:nth-child(8) {
//     min-width: 9em;
// }
// .tableColumn:nth-child(9) {
//     min-width: 5em;
// }
.tableColumnTitle {
    font-size: 11px;
    color:#808184;
}

.tableColumnBody {
    font-size: 13px;
}