// :host /deep/ ng2-st-tbody-edit-delete {display: flex !important;
//     height: 0 !important;
//   }
  
//   :host /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
//     display: inline-block;
//     width: 50px;
//     text-align: center;
//     font-size: 1.1em;
//   }
  
//   :host /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
//     color: #5dcfe3;
//   }

.itemBA {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.titleBA {
    font-size: 13px;
    width: 40%;
    font-weight: bold;
}

.dataBA {
    font-size: 13px;
    width: 60%;
    text-transform: uppercase;
}

:host /deep/ ng2-smart-table thead > tr > th  { 
    font-size: 11px;
    padding: 0.7em 0.5em!important
}

:host /deep/ ng2-smart-table thead > tr > th > ng2-st-column-title > div > ng2-smart-table-title > a { 
    font-size: 11px;
}

:host /deep/ ng2-smart-table tbody > tr > td  { 
    font-size: 12px;
}

// :host /deep/ .nb-theme-default ng2-smart-table .ng2-smart-actions a.ng2-smart-action {
//     font-size: 14px!important;
//     color: red;
// }

// :host /deep/ ng2-smart-table tbody > tr > td > ng2-st-tbody-edit-delete > a { 
//     font-size: 14px!important;
//     color: red;
// }

// :host /deep/ tr td.ng2-smart-actions,
// ng2-st-tbody-custom {
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     height: 100%;
// }

// :host /deep/.nb-theme-default ng2-smart-table .ng2-smart-actions a.ng2-smart-action {
//     padding-top: 0.8em; 

// }

// :host /deep/ .ng2-smart-action.ng2-smart-action-custom-custom:hover {
//     color: red;
// }

@media (min-width: 1800px) {
    :host /deep/ ng2-smart-table thead > tr > th  { 
        font-size: 12px;
        padding: 0.7em 0.5em!important
    }

    :host /deep/ ng2-smart-table thead > tr > th > ng2-st-column-title > div > ng2-smart-table-title > a { 
        font-size: 12px;
    }
}