[Unit]
Description = COP
After = docker.service
Requires = docker.service

[Service]
TimeoutStartSec = 0
Restart = always
ExecStartPre = docker-compose -f /var/www/COP/staging.yml down
ExecStart = docker-compose -f /var/www/COP/staging.yml up -d --build
ExecStop = docker-compose -f /var/www/COP/staging.yml down
