[Unit]
Description = COP
After = docker-compose.service
Requires = docker-compose.service

[Service]
WorkingDirectory=/var/www/COP
TimeoutStartSec = 0
Restart = always
ExecStartPre = /var/www/COP/scripts/stop-staging.sh
ExecStart = /var/www/COP/scripts/update-staging.sh
ExecStop = /var/www/COP/scripts/stop-staging.sh

[Install]
WantedBy=default.target
Alias= cop