<div *ngIf="role ==='cardholder'" class="button-enter">
  <a nbButton status="primary" href="cop/cabinet/single-claim">Додати скаргу</a>
</div>
<nb-card style="height: calc(100vh - 8rem);
margin-bottom: 0;">
  
    <nb-card-header style="padding: 0.5em;">
      Список банків
    </nb-card-header>
  
    <nb-card-body style="padding: 0.5em;">
      <ng2-smart-table [settings]="settings" [source]="source"
        (userRowSelect)="onUserRowSelect($event)">
      </ng2-smart-table>
    </nb-card-body>

</nb-card>
