<script src="https://www.google.com/recaptcha/api.js" async defer></script>
 <div class="row justify-content-center">
  
    <div class="center-screen">
      <form #form="ngForm" ngNativeValidate>

        <nb-card class="registration-card">
          <nb-card-header>
            <img src="assets/images/logo.png" alt="Logo" class="logo">
          </nb-card-header>
          <nb-card-body>
            <form [formGroup]="reactiveForm" #userForm="ngForm" style="display: flex; flex-direction: column;
              align-items: center; text-align: left;">

              <label for="input-password2" style="width: 100%; max-width: 20rem; font-size: 12px; margin-bottom: 0;">Ім'я</label>
              <input nbInput formControlName="first_name" #first_name name="first_name" id="input-first_name" placeholder="Ім'я" 
                autofocus [status]="this.reactiveForm.controls.first_name.touched ? (this.reactiveForm.controls.first_name.status == 'INVALID'  ? 'danger' : 'success') : 'basic'" required maxlength="999">
              <ng-container *ngIf="this.reactiveForm.controls.first_name.touched && this.reactiveForm.controls.first_name.status == 'INVALID'">
                <p class="caption status-danger danger-warning">
                  Ім'я - обов'язкове поле для заповнення!
                </p>
              </ng-container>

              <label for="input-password2" style="width: 100%; max-width: 20rem; font-size: 12px; margin-bottom: 0;">Прізвище</label>
              <input nbInput formControlName="last_name" #last_name name="last_name" id="input-last_name"  
                placeholder="Прізвище" autofocus [status]="this.reactiveForm.controls.last_name.touched ? (this.reactiveForm.controls.last_name.status == 'INVALID' ? 'danger' : 'success') : 'basic'"  
                required maxlength="999">
                <ng-container *ngIf="this.reactiveForm.controls.last_name.touched && this.reactiveForm.controls.last_name.status == 'INVALID'">
                  <p class="caption status-danger danger-warning">
                    Прізвище - обов'язкове поле для заповнення!
                  </p>
                </ng-container>

                <label for="input-password2" style="width: 100%; max-width: 20rem; font-size: 12px; margin-bottom: 0;">Email</label>
              <input nbInput formControlName="email" type="email" #email name="email" id="input-email"  
                placeholder="Email" autofocus [status]="this.reactiveForm.controls.email.touched ? (this.reactiveForm.controls.email.status == 'INVALID' ? 'danger' : 'success') : 'basic'"  
                required maxlength="999">
                <ng-container *ngIf="this.reactiveForm.controls.email.touched && this.reactiveForm.controls.email.status == 'INVALID'">
                  <p class="caption status-danger danger-warning">
                    Email - обов'язкове поле для заповнення!
                  </p>
                </ng-container>

                <label for="input-password2" style="width: 100%; max-width: 20rem; font-size: 12px; margin-bottom: 0;">Телефон</label>
              <input nbInput formControlName="phone" #phone name="phone" id="input-phone"  
                placeholder="Телефон" autofocus [status]="this.reactiveForm.controls.phone.touched ? (this.reactiveForm.controls.phone.status == 'INVALID' ? 'danger' : 'success') : 'basic'"  
                required maxlength="13">
                <ng-container *ngIf="this.reactiveForm.controls.phone.touched && this.reactiveForm.controls.phone.status == 'INVALID'">
                  <p class="caption status-danger danger-warning">
                    Телефон - обов'язкове поле для заповнення!
                  </p>
                </ng-container>

                <label for="input-password2" style="width: 100%; max-width: 20rem; font-size: 12px; margin-bottom: 0;">Логін</label>
              <input nbInput formControlName="login" #login name="login" id="input-login"  
                placeholder="Логін" autofocus [status]="this.reactiveForm.controls.login.touched ? (this.reactiveForm.controls.login.status == 'INVALID' ? 'danger' : 'success') : 'basic'"  
                required maxlength="200">
                <ng-container *ngIf="this.reactiveForm.controls.login.touched && this.reactiveForm.controls.login.status == 'INVALID'">
                  <p class="caption status-danger danger-warning">
                    Логін - обов'язкове поле для заповнення!
                  </p>
                </ng-container>

              <label for="input-password2" style="width: 100%; max-width: 20rem; font-size: 12px; margin-bottom: 0;">Пароль</label>
              <input nbInput #password2 formControlName="password" type="password" #password name="password" id="input-password"  
                placeholder="Пароль" autofocus [status]="this.reactiveForm.controls.password.touched ? (this.reactiveForm.controls.password.status == 'INVALID' ? 'danger' : 'success') : 'basic'"  
                required maxlength="40">
                <ng-container *ngIf="this.reactiveForm.controls.password.touched && this.reactiveForm.controls.password.status == 'INVALID'">
                  <p class="caption status-danger danger-warning">
                    Пароль - обов'язкове поле для заповнення!
                  </p>
                </ng-container>
                <div style="font-size: 10px; width: 100%; max-width: 20rem;">
                  Пароль повинен включати в себе мінімум 10 символів та складатися з:<br>
                   малих літер (a, b, c ...) та великих літер (A, B, C ...),<br>
                   спеціальних символів (*, # ...) та чисел (1, 2, 3 ...).
                </div>

                <label for="input-password2" style="width: 100%; max-width: 20rem; font-size: 12px; margin-bottom: 0;">Повторіть пароль</label>
                <input nbInput formControlName="password2" type="password" #password2 name="password2" id="input-password2"  
                placeholder="Повторіть пароль" autofocus [status]="this.reactiveForm.controls.password2.touched ? (this.reactiveForm.controls.password2.status == 'INVALID' ? 'danger' : 'success') : 'basic'"  
                required maxlength="40">
                <ng-container *ngIf="this.reactiveForm.controls.password2.touched && this.reactiveForm.controls.password2.status == 'INVALID'">
                  <p class="caption status-danger danger-warning">
                    Пароль - обов'язкове поле для заповнення!
                  </p>
                </ng-container>

                <re-captcha formControlName="recaptchaReactive" required name="captcha" (resolved)="resolved($event)" siteKey="6LfPhWQbAAAAAJLyhujnY5VTSFx_cUHX9h7EsMKm"></re-captcha>
                
                <nb-alert style="margin-top: 0.5em; margin-bottom: 0;" status="danger" *ngIf="isPasswordDifferent">Паролі не співпадають!</nb-alert> 

                <nb-alert style="margin-top: 0.5em; margin-bottom: 0;" status="danger" *ngIf="isError">Саталася помилка!</nb-alert> 

                <button style="margin-top: 0.5em; width: 10em;" [disabled]="reactiveForm.invalid" nbButton type="submit" status="primary" (click)="createUser()">Реєстрація</button>

            </form>
            <!-- <div class="g-recaptcha" data-sitekey="6LfPhWQbAAAAAJLyhujnY5VTSFx_cUHX9h7EsMKm"></div> -->
            <!-- <ngx-recaptcha2 #captchaElem [siteKey]="siteKey"></ngx-recaptcha2> -->
          </nb-card-body>
          <!-- <nb-card-footer>
            <div class="button-enter">
              <button nbButton status="primary" (click)="createUser()">Реєстрація</button>
            </div>
          </nb-card-footer> -->
        </nb-card>

      </form> 

    </div>
      
  </div>
