  <div class="row">
  
    <div class="center-screen">
      <nb-card class="registration-card">
        <nb-card-header>Реєстрація</nb-card-header>
        <nb-card-body>
          
          <input nbInput placeholder="Ім'я" [(ngModel)]="data.first_name">
          <input nbInput placeholder="Призвище" [(ngModel)]="data.last_name">
          <input nbInput placeholder="Email" [(ngModel)]="data.email">
          <input nbInput placeholder="Телефон" [(ngModel)]="data.telephone">
          <input nbInput placeholder="Login" [(ngModel)]="data.login"> 
          
        </nb-card-body>
        <nb-card-footer>
          <div class="button-enter">
            <button nbButton status="primary" (click)="createUser()">Enter</button>
          </div>
        </nb-card-footer>
      </nb-card>
    </div>
      
  </div>
