<div *ngIf="typeOperation == 'NewEscalation'" >
    <nb-card style="margin-bottom: 0.5em; border: unset;" status="info">
        <nb-card-header style="padding: 0.5em; text-align: center;">
            {{'single_claim_forms_component.text1' | translate}}
        </nb-card-header>
    </nb-card>

    <nb-card style="width: 100%; height: calc(100vh - 9em); margin: auto;" accent="info">
        <nb-card-header style="width: 100%; text-align: center;">
            {{'single_claim_forms_component.text2' | translate}}
            </nb-card-header>
        <nb-card-body>

            <div class="div-panel" *ngIf="!fieldsStatus.scf_escal_reasoncode.invisible">
                <label class="label-caption">{{'single_claim_forms_component.text3' | translate}}</label> 
                <nb-select class="selector-list" [(selected)]="singleClaimFormsData.reason_code"
                    [disabled]="fieldsStatus.scf_escal_reasoncode.readonly">
                    <nb-option *ngFor="let item of reasonCode" [value]="item.id">
                        {{ item.caption }}
                    </nb-option>
                </nb-select>
            </div>
            
            <div class="div-panel" *ngIf="!fieldsStatus.scf_escal_mmt.invisible">
                <label class="label-caption">{{'single_claim_forms_component.text4' | translate}}</label> 
                <input class="input-data" nbInput placeholder="{{'single_claim_forms_component.text4' | translate}}"
                    [required]="fieldsStatus.scf_escal_mmt.required" 
                    [readonly]="fieldsStatus.scf_escal_mmt.readonly"
                    [(ngModel)]="singleClaimFormsData.mmt">
            </div>

            <div class="div-panel" *ngIf="!fieldsStatus.scf_escal_comment.invisible">
                <label class="label-caption">{{'single_claim_forms_component.text5' | translate}}</label> 
                <textarea rows="5" nbInput fullWidth  
                    [required]="fieldsStatus.scf_escal_comment.required" 
                    [readonly]="fieldsStatus.scf_escal_comment.readonly"
                    [(ngModel)]="singleClaimFormsData.comment"
                    placeholder="{{'single_claim_forms_component.text5' | translate}}">
                </textarea>
                    
            </div>

            <div class="div-panel" *ngIf="!fieldsStatus.scf_escal_upload_doc.invisible">
                <label class="label-caption">{{'single_claim_forms_component.text6' | translate}}</label> 
                <input #fileInput [hidden]="true" placeholder="Додати файл" onclick="this.value=null"
                            type='file' [accept]="acceptFiles" (change)="fileChanged($event)">
                <nb-icon icon="attach-outline" (click)="fileInput.click()"></nb-icon>&nbsp;&nbsp;
                <div style="display: flex; flex-direction: column;">
                    <div *ngFor="let file of filesArr" class="fileAttached">
                        {{file.name}} <nb-icon icon="close-outline" (click)="deleteAttachedFile(file)"></nb-icon>
                    </div>
                </div>
            </div>

        </nb-card-body>
        
        <nb-card-footer>
            <div class="center">
                <button  nbButton size="small" status="primary" (click)="onClickBackClaim()">{{'single_claim_forms_component.button1' | translate}}</button>
                <button  nbButton size="small" status="primary" [disabled]="singleClaimFormsData.comment == undefined || singleClaimFormsData.comment.length < 1" (click)="onClickApply()" [nbSpinner]="loadingEs" nbSpinnerStatus="info"
                    style="margin-left: 10px;">{{'single_claim_forms_component.button2' | translate}}</button>
            </div>
            </nb-card-footer>
    </nb-card>

</div>


<div *ngIf="typeOperation == 'FinishForm'" >
    <nb-card style="margin-bottom: 0.5em; border: unset;" status="info">
        <nb-card-header style="padding: 0.5em; text-align: center;">
            {{'single_claim_forms_component.text7' | translate}}
        </nb-card-header>
    </nb-card>
    
    <nb-card style="width: 100%; height: calc(100vh - 9em); margin: auto;" accent="info">
        <nb-card-header style="width: 100%; text-align: center;">
            {{'single_claim_forms_component.text7' | translate}}
        </nb-card-header>
        <nb-card-body>
            <div class="div-panel" *ngIf="!fieldsStatus.scf_finish_reason.invisible">
                <label *ngIf="role=='chargeback_officer'" class="label-caption">{{'single_claim_forms_component.text8' | translate}}</label> 
                <label *ngIf="role!='chargeback_officer'" class="label-caption">{{'single_claim_forms_component.text9' | translate}}</label> 
                <nb-select class="selector-list" [(selected)]="singleClaimFormsData.reasonClosingId"
                    [disabled]="fieldsStatus.scf_finish_reason.readonly" >
                    <nb-option *ngFor="let item of reasonClosing" [value]="item.id">
                        {{ item.caption }}
                    </nb-option>
                </nb-select>
            </div>
            
            <div class="div-panel" *ngIf="!fieldsStatus.scf_finish_decision.invisible">
                <label *ngIf="role=='chargeback_officer'" class="label-caption">{{'single_claim_forms_component.text10' | translate}}</label> 
                <label *ngIf="role!='chargeback_officer'" class="label-caption">{{'single_claim_forms_component.text11' | translate}}</label> 
                <nb-select class="selector-list" [(selected)]="singleClaimFormsData.decisionId"
                    [disabled]="fieldsStatus.scf_finish_decision.readonly" >
                    <nb-option *ngFor="let item of decision" [value]="item.id">
                        {{ item.caption }}
                    </nb-option>
                </nb-select>
            </div>


            <div class="div-panel" *ngIf="!fieldsStatus.scf_finish_responce.invisible">
                <label class="label-caption">{{'single_claim_forms_component.text12' | translate}}</label> 
                <nb-select class="selector-list" [(selected)]="singleClaimFormsData.responceId"
                    [disabled]="fieldsStatus.scf_finish_responce.readonly" >
                    <nb-option *ngFor="let item of responce" [value]="item.id">
                        {{ item.caption }}
                    </nb-option>
                </nb-select>
            </div>

            <div class="div-panel" *ngIf="!fieldsStatus.scf_finish_comment.invisible">
                <label class="label-caption">{{'single_claim_forms_component.text13' | translate}}</label> 
                <input class="input-data" nbInput placeholder="{{'single_claim_forms_component.text13' | translate}}"
                    [required]="fieldsStatus.scf_finish_comment.required" 
                    [readonly]="fieldsStatus.scf_finish_comment.readonly"
                    [(ngModel)]="singleClaimFormsData.comment">
            </div>

            <div class="div-panel" *ngIf="!fieldsStatus.scf_finish_amount.invisible">
                <label class="label-caption">{{'single_claim_forms_component.text14' | translate}}</label> 
                <input class="input-data" nbInput placeholder="{{'single_claim_forms_component.text14' | translate}}"
                    [required]="fieldsStatus.scf_finish_amount.required" 
                    [readonly]="fieldsStatus.scf_finish_amount.readonly"
                    [(ngModel)]="singleClaimFormsData.amount_move">
            </div>

            <div class="div-panel" *ngIf="!fieldsStatus.scf_finish_upload_doc.invisible">
                <label class="label-caption">{{'single_claim_forms_component.text15' | translate}}</label> 
                <input #fileInput [hidden]="true" placeholder="Додати файл" onclick="this.value=null"
                            type='file' [accept]="acceptFiles" (change)="fileChanged($event)">
                <nb-icon icon="attach-outline" (click)="fileInput.click()"></nb-icon>&nbsp;&nbsp;
                <div style="display: flex; flex-direction: column;">
                    <div *ngFor="let file of filesArr" class="fileAttached">
                        {{file.name}} <nb-icon icon="close-outline" (click)="deleteAttachedFile(file)"></nb-icon>
                    </div>
                </div>
            </div>

        </nb-card-body>
        
        <nb-card-footer>
            <div class="center">
                <button  nbButton size="small" status="primary" (click)="onClickBackClaim()">{{'single_claim_forms_component.button3' | translate}}</button>
                <button  nbButton size="small" status="primary" (click)="onClickApply()" [nbSpinner]="loadingEs" nbSpinnerStatus="info"
                    style="margin-left: 10px;">{{'single_claim_forms_component.button4' | translate}}</button>
            </div>
        </nb-card-footer>
    </nb-card>

</div>


<div *ngIf="typeOperation == 'Clarifications'" >
    <nb-card style="margin-bottom: 0.5em; border: unset;" status="info">
        <nb-card-header style="padding: 0.5em; text-align: center;">
            {{'single_claim_forms_component.text16' | translate}}
        </nb-card-header>
    </nb-card>
    
    <nb-card style="width: 100%; height: calc(100vh - 9em); margin: auto;" accent="info">
        <nb-card-header style="width: 100%; text-align: center;">
            {{'single_claim_forms_component.text16' | translate}}
            </nb-card-header>
        <nb-card-body>
                        
            <div class="div-panel" *ngIf="!fieldsStatus.scf_clarif_comment.invisible">
                <label class="label-caption">{{'single_claim_forms_component.text17' | translate}}</label> 
                <textarea rows="5" nbInput fullWidth  
                    [required]="fieldsStatus.scf_clarif_comment.required" 
                    [readonly]="fieldsStatus.scf_clarif_comment.readonly"
                    [(ngModel)]="singleClaimFormsData.comment"
                    placeholder="{{'single_claim_forms_component.text17' | translate}}">
                </textarea>
            </div>
            
            <div class="div-panel" *ngIf="!fieldsStatus.scf_clarif_upload_doc.invisible">
                <label class="label-caption">{{'single_claim_forms_component.text18' | translate}}</label> 
                <input #fileInput [hidden]="true" placeholder="Додати файл" onclick="this.value=null"
                            type='file' [accept]="acceptFiles" (change)="fileChanged($event)">
                <nb-icon icon="attach-outline" (click)="fileInput.click()"></nb-icon>&nbsp;&nbsp;
                <div style="display: flex; flex-direction: column;">
                    <div *ngFor="let file of filesArr" class="fileAttached">
                        {{file.name}} <nb-icon icon="close-outline" (click)="deleteAttachedFile(file)"></nb-icon><br>
                    </div>
                </div>
            </div>

        </nb-card-body>
        
        <nb-card-footer>
            <div class="center">
                <button  nbButton size="small" status="primary" (click)="onClickBackClaim()">{{'single_claim_forms_component.button5' | translate}}</button>
                <button  nbButton size="small" status="primary" (click)="onClickApply()" [nbSpinner]="loadingEs" nbSpinnerStatus="info"
                    style="margin-left: 10px;width: 140px;">{{'single_claim_forms_component.button6' | translate}}</button>
            </div>
        </nb-card-footer>

    </nb-card>

</div>


<div *ngIf="typeOperation == 'QueryForm'" >
    <nb-card>
        <nb-card-header>
            {{'single_claim_forms_component.text19' | translate}}
        </nb-card-header>
    </nb-card>
    
    <nb-card style="width: 100%; height: 450px;margin: auto;">
        <nb-card-header style="width: 100%; text-align: center;">
            {{'single_claim_forms_component.text19' | translate}}
            </nb-card-header>
        <nb-card-body>
                        
            <div class="div-panel" *ngIf="!fieldsStatus.scf_query_comment.invisible">
                <label class="label-caption">{{'single_claim_forms_component.text20' | translate}}</label> 
                <textarea rows="5" nbInput fullWidth  
                    [required]="fieldsStatus.scf_query_comment.required" 
                    [readonly]="fieldsStatus.scf_query_comment.readonly"
                    [(ngModel)]="singleClaimFormsData.comment"
                    placeholder="{{'single_claim_forms_component.text20' | translate}}">
                </textarea>
            </div>
            
            <div class="div-panel" *ngIf="!fieldsStatus.scf_query_upload_doc.invisible">
                <label class="label-caption">{{'single_claim_forms_component.text21' | translate}}</label> 
                <input #fileInput [hidden]="true" placeholder="Додати файл" onclick="this.value=null"
                            type='file' [accept]="acceptFiles" (change)="fileChanged($event)">
                <nb-icon icon="attach-outline" (click)="fileInput.click()"></nb-icon>&nbsp;&nbsp;
                <div style="display: flex; flex-direction: column;">
                    <div *ngFor="let file of filesArr" class="fileAttached">
                        {{file.name}} <nb-icon icon="close-outline" (click)="deleteAttachedFile(file)"></nb-icon>
                    </div>
                </div>
            </div>

        </nb-card-body>
        
        <nb-card-footer>
            <div class="center">
                <button  nbButton size="small" status="primary" (click)="onClickBackClaim()">{{'single_claim_forms_component.button7' | translate}}</button>
                <button  nbButton size="small" status="primary" (click)="onClickApply()"
                    style="margin-left: 10px;width: 140px;">{{'single_claim_forms_component.button8' | translate}}</button>
            </div>
        </nb-card-footer>

    </nb-card>

</div>