

<div *ngIf="typeOperation == 'NewEscalation'" >
    <nb-card>
        <nb-card-header>
          Ескалація
        </nb-card-header>
    </nb-card>

    <nb-card style="width: 49%; height: 450px;margin: auto;">
        <nb-card-header style="width: 100%; text-align: center;">
            Ескалація претензії
            </nb-card-header>
        <nb-card-body>

            <div class="div-panel" *ngIf="!fieldsStatus.scf_escal_reasoncode.invisible">
                <label class="label-caption">Select reason code</label> 
                <nb-select class="selector-list" [(selected)]="singleClaimFormsData.reason_code"
                    [required]="fieldsStatus.scf_escal_reasoncode.required" 
                    [disabled]="fieldsStatus.scf_escal_reasoncode.readonly">
                    <nb-option *ngFor="let item of reasonCode" [value]="item.caption">
                        {{ item.caption }}
                    </nb-option>
                </nb-select>
            </div>
            
            <div class="div-panel" *ngIf="!fieldsStatus.scf_escal_mmt.invisible">
                <label class="label-caption">MMT</label> 
                <input class="input-data" nbInput placeholder="MMT"
                    [required]="fieldsStatus.scf_escal_mmt.required" 
                    [readonly]="fieldsStatus.scf_escal_mmt.readonly"
                    [(ngModel)]="singleClaimFormsData.mmt">
            </div>

            <div class="div-panel" *ngIf="!fieldsStatus.scf_escal_comment.invisible">
                <label class="label-caption">Коментари</label> 
                <textarea rows="5" nbInput fullWidth  
                    [required]="fieldsStatus.scf_escal_comment.required" 
                    [readonly]="fieldsStatus.scf_escal_comment.readonly"
                    [(ngModel)]="singleClaimFormsData.comment"
                    placeholder="Коментари">
                </textarea>
                    
            </div>

            <div class="div-panel" *ngIf="!fieldsStatus.scf_escal_upload_doc.invisible">
                <label class="label-caption">Додати документи</label> 
                <input #fileInput [hidden]="true" placeholder="Додати файл" onclick="this.value=null"
                            type='file' [accept]="acceptFiles" (change)="fileChanged($event)">
                <nb-icon icon="attach-outline" (click)="fileInput.click()"></nb-icon>&nbsp;&nbsp;
                <div *ngFor="let file of filesArr" class="fileAttached">
                    {{file.name}} <nb-icon icon="close-outline" (click)="deleteAttachedFile(file)"></nb-icon>
                </div>

            </div>

        </nb-card-body>
        
        <nb-card-footer>
            <div class="center">
                <button  nbButton status="primary" (click)="onClickBackClaim()">Повернутися</button>
                <button  nbButton status="primary" (click)="onClickApply()"
                    style="margin-left: 10px;">Ескалація</button>
            </div>
            </nb-card-footer>
    </nb-card>

</div>


<div *ngIf="typeOperation == 'FinishForm'" >
    <nb-card>
        <nb-card-header>
        Ескалація
        </nb-card-header>
    </nb-card>
    
    <nb-card style="width: 49%; height: 450px;margin: auto;">
        <nb-card-header style="width: 100%; text-align: center;">
            Завершеня розгляду
            </nb-card-header>
        <nb-card-body>
            <div class="div-panel" *ngIf="!fieldsStatus.scf_finish_reason.invisible">
                <label class="label-caption">Причина завершення реклямації</label> 
                <nb-select class="selector-list" [(selected)]="singleClaimFormsData.reasonClosingId"
                        [required]="fieldsStatus.scf_finish_reason.required" 
                        [disabled]="fieldsStatus.scf_finish_reason.readonly" >
                        <nb-option *ngFor="let item of reasonClosing" [value]="item.caption">
                            {{ item.caption }}
                        </nb-option>
                    </nb-select>
            </div>
            
            <div class="div-panel" *ngIf="!fieldsStatus.scf_finish_decision.invisible">
                <label class="label-caption">Рішення</label> 
                <nb-select class="selector-list" [(selected)]="singleClaimFormsData.decisionId"
                        [required]="fieldsStatus.scf_finish_decision.required" 
                        [disabled]="fieldsStatus.scf_finish_decision.readonly" >
                        <nb-option *ngFor="let item of decision" [value]="item.caption">
                            {{ item.caption }}
                        </nb-option>
                    </nb-select>
            </div>


            <div class="div-panel" *ngIf="!fieldsStatus.scf_finish_responce.invisible">
                <label class="label-caption">Відповеді</label> 
                <nb-select class="selector-list" [(selected)]="singleClaimFormsData.decisionId"
                        [required]="fieldsStatus.scf_finish_responce.required" 
                        [disabled]="fieldsStatus.scf_finish_responce.readonly" >
                        <nb-option *ngFor="let item of responce" [value]="item.caption">
                            {{ item.caption }}
                        </nb-option>
                    </nb-select>
            </div>

            <div class="div-panel" *ngIf="!fieldsStatus.scf_finish_comment.invisible">
                <label class="label-caption">Коментари</label> 
                <input class="input-data" nbInput placeholder="Коментари"
                    [required]="fieldsStatus.scf_finish_comment.required" 
                    [readonly]="fieldsStatus.scf_finish_comment.readonly"
                    [(ngModel)]="singleClaimFormsData.comment">
            </div>

            <div class="div-panel" *ngIf="!fieldsStatus.scf_finish_amount.invisible">
                <label class="label-caption">Сума для зарухування</label> 
                <input class="input-data" nbInput placeholder="Сума для зарухування"
                    [required]="fieldsStatus.scf_finish_amount.required" 
                    [readonly]="fieldsStatus.scf_finish_amount.readonly"
                    [(ngModel)]="singleClaimFormsData.amount_move">
            </div>

            <div class="div-panel" *ngIf="!fieldsStatus.scf_finish_upload_doc.invisible">
                <label class="label-caption">Додати документи</label> 
                <input #fileInput [hidden]="true" placeholder="Додати файл" onclick="this.value=null"
                            type='file' [accept]="acceptFiles" (change)="fileChanged($event)">
                <nb-icon icon="attach-outline" (click)="fileInput.click()"></nb-icon>&nbsp;&nbsp;
                <div *ngFor="let file of filesArr" class="fileAttached">
                    {{file.name}} <nb-icon icon="close-outline" (click)="deleteAttachedFile(file)"></nb-icon>
                </div>

            </div>

        </nb-card-body>
        
        <nb-card-footer>
            <div class="center">
                <button  nbButton status="primary" (click)="onClickBackClaim()">Повернутися</button>
                <button  nbButton status="primary" (click)="onClickApply()"
                    style="margin-left: 10px;">Завершити</button>
            </div>
            </nb-card-footer>
    </nb-card>

</div>


<div *ngIf="typeOperation == 'Clarifications'" >
    <nb-card>
        <nb-card-header>
            Уточненя
        </nb-card-header>
    </nb-card>
    
    <nb-card style="width: 49%; height: 450px;margin: auto;">
        <nb-card-header style="width: 100%; text-align: center;">
            Уточненя
            </nb-card-header>
        <nb-card-body>
                        
            <div class="div-panel" *ngIf="!fieldsStatus.scf_clarif_comment.invisible">
                <label class="label-caption">Коментари</label> 
                <textarea rows="5" nbInput fullWidth  
                    [required]="fieldsStatus.scf_clarif_comment.required" 
                    [readonly]="fieldsStatus.scf_clarif_comment.readonly"
                    [(ngModel)]="singleClaimFormsData.comment"
                    placeholder="Коментари">
                </textarea>
            </div>
            
            <div class="div-panel" *ngIf="!fieldsStatus.scf_clarif_upload_doc.invisible">
                <label class="label-caption">Додати документи</label> 
                <input #fileInput [hidden]="true" placeholder="Додати файл" onclick="this.value=null"
                            type='file' [accept]="acceptFiles" (change)="fileChanged($event)">
                <nb-icon icon="attach-outline" (click)="fileInput.click()"></nb-icon>&nbsp;&nbsp;
                <div *ngFor="let file of filesArr" class="fileAttached">
                    {{file.name}} <nb-icon icon="close-outline" (click)="deleteAttachedFile(file)"></nb-icon>
                </div>
            </div>

        </nb-card-body>
        
        <nb-card-footer>
            <div class="center">
                <button  nbButton status="primary" (click)="onClickBackClaim()">Повернутися</button>
                <button  nbButton status="primary" (click)="onClickApply()"
                    style="margin-left: 10px;width: 140px;">ОК</button>
            </div>
        </nb-card-footer>

    </nb-card>

</div>
