<div class="center-screen">

  <nb-card class="customCardHeight bankUserCard">
    <nb-card-header style="width: 100%; padding: 0.5em 1em;">
      Реєстрація користувача банку
    </nb-card-header>

    <nb-card-body style="padding-bottom: 0; overflow-y: auto; padding-top: 1em; display: flex; flex-direction: column; align-items: center;">

      <input class="marginBankUser" nbInput placeholder="Користувач" [(ngModel)]="data.userId" maxlength="200">
      <nb-select placeholder="Роль" class="selector-list marginBankUser" [(selected)]="data.role">
        <nb-option *ngFor="let item of listRole" [value]="item.caption">
          {{ item.caption }}
        </nb-option>
      </nb-select>
      <!-- <div class="div-panel" style="margin-top: 0;"> -->
        <nb-select
          class="selector-list marginBankUser"
          [(ngModel)]="bankID"
          placeholder="Банк">
          <nb-option *ngFor="let item of banksList" [value]="item.id">
            {{ item.name_eng }}
          </nb-option>
        </nb-select>
      <!-- </div> -->
      <input class="marginBankUser" nbInput placeholder="Ім'я" [(ngModel)]="data.first_name" maxlength="999">
      <input class="marginBankUser" nbInput placeholder="Прізвище" [(ngModel)]="data.last_name" maxlength="999">
      <input class="marginBankUser" nbInput placeholder="Підрозділ" [(ngModel)]="data.unit" maxlength="200">
      <input class="marginBankUser" nbInput placeholder="Телефон" [(ngModel)]="data.phone" maxlength="13">
      <input class="marginBankUser" nbInput placeholder="Email" [(ngModel)]="data.email" maxlength="999">
      <input class="marginBankUser" nbInput placeholder="Password" [(ngModel)]="data.password" maxlength="40">

    </nb-card-body>

    <nb-card-footer>
      <div class="button-enter">
        <button nbButton size="small" status="primary" (click)="goBack()">Повернутись</button>
        <button nbButton size="small" status="primary" style="margin-left: 10px;"
          [nbSpinner]="loadingCreate" nbSpinnerStatus="info"
                (click)="createBankUser()">Зареєструвати
        </button>
      </div>
    </nb-card-footer>

  </nb-card>

</div>
