  <div style="display:block;" class="row" >

    <div class="center-screen">
      <nb-card style="margin-left: auto; margin-right: auto;" class="registration-card">

        <nb-card-header>Введіть email. Вам прийде лист зі зміною паролю.</nb-card-header>
        <nb-card-body>
          <input nbInput required placeholder="Email" [(ngModel)]="email">
          <nb-alert  status="success" *ngIf="isSendOk">Лист успішно надіслано</nb-alert> 
          <nb-alert  status="danger" *ngIf="isSendEmailError">Сталася помилка</nb-alert> 
        </nb-card-body>

        <nb-card-footer>
          <div class="button-enter">
            <button type="submit" nbButton status="primary" (click)="enter()">Надіслати лист</button>
          </div>
        </nb-card-footer>

      </nb-card>
    </div>

  </div>

