  <div style="display:block;" class="row" >

    <div class="center-screen">
      <nb-card style="margin-left: auto; margin-right: auto;" class="registration-card">

        <nb-card-header>Change password</nb-card-header>
        <nb-card-body>
          <input nbInput type="password" required placeholder="NEW Password" [(ngModel)]="data.password">
          <input nbInput type="password" required placeholder="NEW Confirm Password" [(ngModel)]="data.confirm_password">
        </nb-card-body>

        <nb-card-footer>
          <div class="button-enter">
            <button  nbButton status="primary" (click)="enter()">Enter</button>
          </div>
        </nb-card-footer>

      </nb-card>
    </div>

  </div>

