{% load static %}
<style type="text/css">
  @page {
    size: A4;
    margin: 1cm;
  }

  @font-face {
    font-family: 'DejaVu Sans';
    src: url({% static 'fonts/DejaVuSans.ttf' %});
  }

  body, table, td, p {
    font-family: 'DejaVu Sans';
  }

  .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 5px;
    background-color: #fff;
  }

  .table th,
  .table td {
    padding: 5px;
    vertical-align: top;
    border-top: 1px solid #000;
    text-align: center;
  }

  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #000;
  }

  .table tbody + tbody {
    border-top: 2px solid #000;
  }

  .table .table {
    background-color: #fff;
  }

  .list-group {
    display: block;
    width: 100%;
    list-style: none;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .list-group p {
    width: 100%;
    height: 20px;
    line-height: 20px;
    list-style: none;
    font-size: 1.1em;
  }

  input, textarea {
    background: #eee;
    border: 0.01em solid;
    margin: 0.2em 0;
  }

  [disabled] {
    opacity: 0.3;
  }

  input[type=text] {
    height: 1.2em;
    width: 20em;
  }

  input[type=text]::before {
    content: attr(value);
    padding: 0.2em;
  }

  input[type=radio], input[type=checkbox] {
    box-sizing: border-box;
    background-clip: content-box;
    height: 1em;
    padding: 0.1em;
    width: 1em;
  }

  input[checked] {
    background-color: red;
  }

  input[type=radio] {
    border-radius: 100%;
  }

  textarea {
    font-family: monospace;
    padding: 0.5em;
    width: 20em;
  }

  td p {
    font-weight: bold;
  }
</style>
<body>
<p><strong>Cardholder Transaction Dispute Form</strong></p>
<p><strong>Персональні дані:</strong></p>
<table>
  <tr>
    <td><p>Ім’я власника карти</p></td>
    <td>{{ claim.user.first_name }} {{ claim.user.last_name }}</td>
    <td><p>Номер картки</p></td>
    <td>{{ claim.pan }}</td>
  </tr>
  <tr>
    <td><p>Телефон</p></td>
    <td>{{ claim.user.phone }}</td>
    <td><p>Email</p></td>
    <td>{{ claim.user.email }}</td>
  </tr>
</table>
<p><strong>Деталі транзакції:</strong></p>
<table>
  <tr>
    <td><p>Ім’я продавця / ідентифікатор терміналу</p></td>
    <td><p>Дата та час транзації</p></td>
    <td><p>Сума, валюта</p></td>
    <td><p>Код авторизації / RRN</p></td>
  </tr>
  <tr>
    <td>{{ claim.merchant.name_ips }} / {{ claim.term_id }}</td>
    <td>{{ claim.trans_date }}</td>
    <td>{{ claim.trans_amount }}, {{ claim.trans_currency }}</td>
    <td>{{ claim.trans_approval_code }}</td>
  </tr>
</table>
<p><strong>Причина оскарження:</strong></p>
<b>Reason code</b>: {{ claim.reason_code }}
<br>
<b>Reason code group</b>: {{ claim.reason_code_group }}
<br>
<ul>
  {% for answer in answers %}
    <li>
      {% for question, answer in answer.items %}
        <label for="answer">{{ question }}:
          <u><i>
            {% if answer == True %}
              так
            {% elif answer == False %}
              ні
            {% else %}
              {{ answer }}
            {% endif %}
          </i></u>
        </label>
        <br/>
      {% endfor %}
    </li>
  {% endfor %}
</ul>

<p><strong><em>Я погоджуюсь з тим, що:</em></strong></p>
<p>• <em>Вся надана інформація є правдивою та точною, і
  обрана причина описує мою ситуацію найбільш точно, наскільки мені відомо.</em></p>
<ul>
  <li><em>Я розумію, що за кожний запит на повернення коштів буде стягнуто плату за обробку.</em></li>
  <li><em>Я розумію і приймаю, що Компанія не може гарантувати повернення спірної суми, і що результати розслідування
    залежать від розслідування банку, що обслуговує термінал та правил та правил Міжнародної платіжної системи.</em>
  </li>
</ul>
<p>• <em>Я розумію і приймаю, що на розслідування може знадобитися від 2 до 6 місяців.</em></p>
<p>
  <strong>Підпис</strong></p>
<table>
  <tr>
    <td><p>___________________________________________</p></td>
    <td><p>___________________________________________</p></td>
  </tr>
  <tr>
    <td><p><em>Підпис власника карти </em></p></td>
    <td><p><em>Дата</em></p></td>
  </tr>
</table>
<p>
  <em>Зауважте, що ми можемо зв’язатися з вами для надання додаткової інформації, щоб ми могли допомогти розглянути вашу
    заяву.</em></p>
</body>
