<nb-card class="customCardHeight">
  
    <!-- <nb-card-header style="padding: 0.5em 1em;">
      Банк 
      <button  nbButton size="small" status="primary" (click)="goStatistic()">Cтатистика</button>
    </nb-card-header> -->
  
    <nb-card-body style="padding: 0.5em;
    overflow-y: hidden;">
      <div style="height: 100%;">
        <nb-card size="small" style="height: 100%;" >
          <nb-tabset fullWidth class="tabsSingleBank" style="height: 100%;" #tabset (changeTab)="tabChangeEvent($event)">
            <nb-tab [tabTitle]="tabTitle1" style="height: 100%; font-size: 12px; padding: 2em;" [active]="tabInfo">

              <!-- <nb-card style="height: 93%;">
                <nb-card-body style="font-size: 12px;"> -->

                  <div class="div-panel" *ngIf="!fieldsStatus.bank_single_view.invisible">
                    <label class="label-caption">BIN</label> 
                    <label class="label-data">{{bank.bin}}</label>
                  </div>
                  
                  <div class="div-panel" *ngIf="!fieldsStatus.bank_single_view.invisible">
                    <label class="label-caption">Тип</label> 
                    <label class="label-data">{{bank.type}}</label>
                  </div>

                  <div class="div-panel" *ngIf="!fieldsStatus.bank_single_view.invisible">
                    <label class="label-caption">Назва банку англійською</label> 
                    <label class="label-data">{{bank.name_eng}}</label>
                  </div>

                  <div class="div-panel" *ngIf="!fieldsStatus.bank_single_view.invisible">
                    <label class="label-caption">Назва банку українською</label> 
                    <label class="label-data">{{bank.name_uk}}</label>
                  </div>

                  <div class="div-panel" *ngIf="!fieldsStatus.bank_single_view.invisible">
                    <label class="label-caption">Назва банку російською </label> 
                    <label class="label-data">{{bank.name_rus}}</label>
                  </div>

                  <div class="div-panel" *ngIf="!fieldsStatus.bank_single_view.invisible">
                    <label class="label-caption">Операційне ім’я </label> 
                    <label class="label-data">{{bank.operator_name}}</label>
                  </div>

                  <div class="div-panel" *ngIf="!fieldsStatus.bank_single_view.invisible">
                    <label class="label-caption">Контактна особа </label> 
                    <label class="label-data">{{bank.contact_person}}</label>
                  </div>

                  <div class="div-panel" *ngIf="!fieldsStatus.bank_single_view.invisible">
                    <label class="label-caption">Контактний телефон </label> 
                    <label class="label-data">{{bank.contact_telephone}}</label>
                  </div>

                  <div class="div-panel" *ngIf="!fieldsStatus.bank_single_view.invisible">
                    <label class="label-caption">Контактна пошта </label> 
                    <label class="label-data">{{bank.contact_email}}</label>
                  </div>
                  <button  nbButton size="small" status="primary" (click)="goStatistic()">Cтатистика</button>
                <!-- </nb-card-body>
              </nb-card> -->

            </nb-tab>

            <nb-tab [tabTitle]="tabTitle2" style="height: 93%; padding: 0.3em;" [active]="tabBankUsers">
              <button nbButton style="margin-bottom: 0.3em;" size="tiny" status="primary" (click)="createBankUser()">Зареєструвати</button>
              <button nbButton style="margin-left: 2em; margin-bottom: 0.3em;" size="tiny" status="primary" (click)="createBankUserFromCsv()">Зареєструвати з файлу</button>
              <!-- <nb-card style="height: 92%;">
                <nb-card-body style="padding: 0.5em;"> -->

                  <ng2-smart-table [settings]="settingsBankUser" [source]="sourceBankUser" (userRowSelect)="onUserRowSelectBankUser($event)">
                  </ng2-smart-table>

                <!-- </nb-card-body>
              </nb-card> -->
      
            </nb-tab>
            
            <nb-tab [tabTitle]="tabTitle3" style="height: 93%; padding: 0.3em;" [active]="tabMerchants">
              <button nbButton style="margin-bottom: 0.3em;" size="tiny" status="primary" (click)="createMerch()">Зареєструвати</button>
              <button nbButton style="margin-left: 2em; margin-bottom: 0.3em;" size="tiny" status="primary" (click)="createMerchFromCsv()">Зареєструвати з файлу</button>
              <!-- <nb-card style="height: 92%;">
                <nb-card-body style="padding: 0.5em;"> -->

                  <ng2-smart-table [settings]="settingsMerch" [source]="sourceMerch" (userRowSelect)="onUserRowSelectMerchant($event)">
                  </ng2-smart-table>

                <!-- </nb-card-body>
              </nb-card> -->
            </nb-tab>

            <nb-tab [tabTitle]="tabTitle4" style="height: 93%; padding: 0.3em;" [active]="tabAtm">
              <button nbButton style="margin-bottom: 0.3em;" size="tiny" status="primary" (click)="createATM()">Зареєструвати</button>
              <button nbButton style="margin-left: 2em; margin-bottom: 0.3em;" size="tiny" status="primary" (click)="createATMFromCsv()">Зареєструвати з файлу</button>
              <!-- <nb-card style="height: 92%;">
                <nb-card-body style="padding: 0.5em;"> -->

                  <ng2-smart-table [settings]="settingsATM" [source]="sourceATM" (userRowSelect)="onUserRowSelectATM($event)">
                  </ng2-smart-table>

                <!-- </nb-card-body>
              </nb-card> -->
            </nb-tab>


          </nb-tabset>
        </nb-card>
      </div>
    
    </nb-card-body>

</nb-card>
