<nb-card class="customCardHeight">
  
    <!-- <nb-card-header style="padding: 0.5em 1em;">
      Банк 
      <button  nbButton size="small" status="primary" (click)="goStatistic()">Cтатистика</button>
    </nb-card-header> -->
  
    <nb-card-body style="padding: 0.5em;
    overflow-y: hidden;">
      <div style="height: 100%;">
        <nb-card size="small" style="height: 100%;" >
          <nb-tabset fullWidth class="tabsSingleBank" style="height: 100%;" #tabset (changeTab)="tabChangeEvent($event)">
            <nb-tab [tabTitle]="tabTitle1" style="height: 100%; font-size: 12px; padding: 2em;" #tabInfo>

              <!-- <nb-card style="height: 93%;">
                <nb-card-body style="font-size: 12px;"> -->

                  <div class="div-panel" *ngIf="!fieldsStatus.bank_single_view.invisible">
                    <label class="label-caption">{{'bank_single_component.text1' | translate}}</label> 
                    <label class="label-data">{{bank.bin}}</label>
                  </div>
                  
                  <div class="div-panel" *ngIf="!fieldsStatus.bank_single_view.invisible">
                    <label class="label-caption">{{'bank_single_component.text2' | translate}}</label> 
                    <label class="label-data">{{bank.type}}</label>
                  </div>

                  <div class="div-panel" *ngIf="!fieldsStatus.bank_single_view.invisible">
                    <label class="label-caption">{{'bank_single_component.text3' | translate}}</label> 
                    <label class="label-data">{{bank.name_eng}}</label>
                  </div>

                  <div class="div-panel" *ngIf="!fieldsStatus.bank_single_view.invisible">
                    <label class="label-caption">{{'bank_single_component.text4' | translate}}</label> 
                    <label class="label-data">{{bank.name_uk}}</label>
                  </div>

                  <div class="div-panel" *ngIf="!fieldsStatus.bank_single_view.invisible">
                    <label class="label-caption">{{'bank_single_component.text5' | translate}}</label> 
                    <label class="label-data">{{bank.name_rus}}</label>
                  </div>

                  <div class="div-panel" *ngIf="!fieldsStatus.bank_single_view.invisible">
                    <label class="label-caption">{{'bank_single_component.text6' | translate}}</label> 
                    <label class="label-data">{{bank.operator_name}}</label>
                  </div>

                  <div class="div-panel" *ngIf="!fieldsStatus.bank_single_view.invisible">
                    <label class="label-caption">{{'bank_single_component.text7' | translate}}</label> 
                    <label class="label-data">{{bank.contact_person}}</label>
                  </div>

                  <div class="div-panel" *ngIf="!fieldsStatus.bank_single_view.invisible">
                    <label class="label-caption">{{'bank_single_component.text8' | translate}}</label> 
                    <label class="label-data">{{bank.contact_telephone}}</label>
                  </div>

                  <div class="div-panel" *ngIf="!fieldsStatus.bank_single_view.invisible">
                    <label class="label-caption">{{'bank_single_component.text9' | translate}}</label> 
                    <label class="label-data">{{bank.contact_email}}</label>
                  </div>
                  <button  nbButton size="small" status="primary" (click)="goStatistic()">{{'bank_single_component.button1' | translate}}</button>
                <!-- </nb-card-body>
              </nb-card> -->

            </nb-tab>
            
            <nb-tab [tabTitle]="tabTitle5" style="height: 93%; padding: 0.3em;" #tabBankAccounts>
              <ngx-bank-accounts></ngx-bank-accounts>
            </nb-tab>
            <nb-tab [tabTitle]="tabTitle2" style="height: 93%; padding: 0.3em;" #tabBankUsers>
              <button nbButton style="margin-bottom: 0.3em;" size="tiny" status="primary" (click)="createBankUser()">{{'bank_single_component.button2' | translate}}</button>
              <button nbButton style="margin-left: 2em; margin-bottom: 0.3em;" size="tiny" status="primary" (click)="createBankUserFromCsv()">{{'bank_single_component.button3' | translate}}</button>
              <!-- <nb-card style="height: 92%;">
                <nb-card-body style="padding: 0.5em;"> -->

                  <ng2-smart-table [settings]="settingsBankUser" [source]="sourceBankUser" (userRowSelect)="onUserRowSelectBankUser($event)">
                  </ng2-smart-table>

                <!-- </nb-card-body>
              </nb-card> -->
      
            </nb-tab>
            
            <nb-tab [tabTitle]="tabTitle3" style="height: 93%; padding: 0.3em;" #tabMerchants>
              <button nbButton style="margin-bottom: 0.3em;" size="tiny" status="primary" (click)="createMerch()">{{'bank_single_component.button2' | translate}}</button>
              <button nbButton style="margin-left: 2em; margin-bottom: 0.3em;" size="tiny" status="primary" (click)="createMerchFromCsv()">{{'bank_single_component.button3' | translate}}</button>
              <!-- <nb-card style="height: 92%;">
                <nb-card-body style="padding: 0.5em;"> -->

                  <ng2-smart-table [settings]="settingsMerch" [source]="sourceMerch" (userRowSelect)="onUserRowSelectMerchant($event)">
                  </ng2-smart-table>

                <!-- </nb-card-body>
              </nb-card> -->
            </nb-tab>

            <nb-tab [tabTitle]="tabTitle4" style="height: 93%; padding: 0.3em;" #tabAtm>
              <button nbButton style="margin-bottom: 0.3em;" size="tiny" status="primary" (click)="createATM()">{{'bank_single_component.button2' | translate}}</button>
              <button nbButton style="margin-left: 2em; margin-bottom: 0.3em;" size="tiny" status="primary" (click)="createATMFromCsv()">{{'bank_single_component.button3' | translate}}</button>
              <!-- <nb-card style="height: 92%;">
                <nb-card-body style="padding: 0.5em;"> -->

                  <ng2-smart-table [settings]="settingsATM" [source]="sourceATM" (userRowSelect)="onUserRowSelectATM($event)">
                  </ng2-smart-table>

                <!-- </nb-card-body>
              </nb-card> -->
            </nb-tab>


          </nb-tabset>
        </nb-card>
      </div>
    
    </nb-card-body>

</nb-card>
