<div *ngIf="isShowGrid">
  <nb-card class="customCardHeight">
    <nb-card-header>
      Список транзакцій
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source" 
        (userRowSelect)="onUserRowSelect($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
</div>

<div *ngIf="!isShowGrid">
  <nb-card class="customCardHeight">
    <nb-card-header>
      Транзакція
    </nb-card-header>

    <nb-card-body>
      <!-- <div class="div-panel" >
          <label class="label-caption">Початок транзакції</label> 
          <label class="label-data">{{getDateFormat(atmTransactionsDataItem.trans_start)}}</label>
      </div> -->

      <div class="div-panel" >
          <label class="label-caption">Номер карти </label> 
          <label class="label-data">{{atmTransactionsDataItem.pan}}</label>
      </div>

      <!-- <div class="div-panel" >
          <label class="label-caption">PIN</label> 
          <label class="label-data">{{getDateFormat(atmTransactionsDataItem.pin_entered)}}</label>
      </div> -->

      <!-- <div class="div-panel" >
          <label class="label-caption">Запит грошей</label> 
          <label class="label-data">{{getDateFormat(atmTransactionsDataItem.cash_request)}}</label>
      </div> -->

      <div class="div-panel" >
          <label class="label-caption">Сума</label> 
          <label class="label-data">{{atmTransactionsDataItem.trans_amount}}</label>
      </div>

      <div class="div-panel" >
          <label class="label-caption">Baлюта</label> 
          <label class="label-data">{{atmTransactionsDataItem.currency}}</label>
      </div>

      <div class="div-panel" >
          <label class="label-caption">Код затвердження</label> 
          <label class="label-data">{{atmTransactionsDataItem.approval_code}}</label>
      </div>

      <!-- <div class="div-panel" >
          <label class="label-caption">Готівка представлена</label> 
          <label class="label-data">{{getDateFormat(atmTransactionsDataItem.cash_presented)}}</label>
      </div> -->

      <!-- <div class="div-panel" >
          <label class="label-caption">Готівка отримана</label> 
          <label class="label-data">{{getDateFormat(atmTransactionsDataItem.cash_taken)}}</label>
      </div> -->

      <!-- <div class="div-panel" >
          <label class="label-caption">Кількість готівки</label> 
          <label class="label-data">{{atmTransactionsDataItem.cash_count}}</label>
      </div> -->

      <!-- <div class="div-panel" >
          <label class="label-caption">Картка отримана</label> 
          <label class="label-data">{{getDateFormat(atmTransactionsDataItem.card_taken)}}</label>
      </div> -->

      <!-- <div class="div-panel" >
          <label class="label-caption">Кінец транзакції</label> 
          <label class="label-data">{{getDateFormat(atmTransactionsDataItem.trans_end)}}</label>
      </div> -->

      <div class="div-panel" >
        <label class="label-caption">Результат</label> 
        <label class="label-data">{{atmTransactionsDataItem.result}}</label>
      </div>

      <div class="div-panel" >
        <label class="label-caption">RAW</label> 
        <label class="label-data">{{atmTransactionsDataItem.raw}}</label>
      </div>

    </nb-card-body>

    <nb-card-footer>
      <div class="center-screen">
        <button nbButton size="small" status="primary" (click)="goBack()">Повернутись</button>
      </div>
    </nb-card-footer>

</nb-card>

</div>
