<nb-card style="height: 40em; ">
  
    <nb-card-header>
      Данні
      <button nbButton status="primary" (click)="goBack()">Повернутись</button>
    </nb-card-header>
  
    <nb-card-body style="overflow-y: hidden;">
      
      <div class="col-12">
        <nb-card size="small" style="height: 33em;">
          <nb-tabset fullWidth>

            <nb-tab tabTitle="Користувач">
              <nb-card style="height: 28em;">
                <nb-card-body>

                  <div class="div-panel" >
                    <label class="label-caption">Ім'я</label> 
                    <label class="label-data">{{ userData.first_name }}</label>
                  </div>
                  
                  <div class="div-panel" >
                    <label class="label-caption">Прізвище</label> 
                    <label class="label-data">{{ userData.last_name }}</label>
                  </div>
                  
                  <div class="div-panel" >
                    <label class="label-caption">Підрозділ</label> 
                    <label class="label-data">{{ userData.unit }}</label>
                  </div>
                  
                  <div class="div-panel" >
                    <label class="label-caption">Телефон</label> 
                    <label class="label-data">{{ userData.phone }}</label>
                  </div>
                  
                  <div class="div-panel" >
                    <label class="label-caption">Email</label> 
                    <label class="label-data">{{ userData.email }}</label>
                  </div>

                  <div class="div-panel" >
                    <label class="label-caption">Роль</label> 
                    <label class="label-data">{{ userData.role }}</label>
                  </div>

                </nb-card-body>
              </nb-card>
            </nb-tab>

            <nb-tab tabTitle="Логи">
              
              <nb-card style="height: 28em;">
                <nb-card-body>

                  <ng2-smart-table [settings]="settingsLogs" [source]="sourceLogs">
                  </ng2-smart-table>

                </nb-card-body>
              </nb-card>
      
            </nb-tab>

            <nb-tab tabTitle="Пароль">
              <nb-card style="height: 28em;">
                <nb-card-body>
                  
                  <input nbInput style="width: 25em;"
                    placeholder="Email для зміни паролю" [(ngModel)]="userData.email" maxlength="999"> 
                  <button nbButton status="primary" style="margin-left: 10px;"
                    (click)="sendMail()">Надіслати</button>

                </nb-card-body>
              </nb-card>
            </nb-tab>


          </nb-tabset>
        </nb-card>
      </div>
    
    </nb-card-body>

</nb-card>
