<!DOCTYPE html>
<html>
  <body>
  <table cellpadding="5px">
    <tr>
      <th><h4>Transaction description</h4></th>
    </tr>
    <tr>
      <td><i>CHB date</i></td>
      <td>{{object.chb_date}}</td>
    </tr>
    <tr>
      <td><i>Deadline date</i></td>
      <td>{{object.deadline_date}}</td>
    <tr>
      <td><i>Transaction ID</i></td>
      <td>{{object.utrnno}}</td>
    </tr>
    <tr>
      <td><i>PAN</i></td>
      <td>{{object.pan}}</td>
    </tr>
    <tr>
      <td><i>Transaction ammount</i></td>
      <td>{{object.trans_amount}}</td>
    </tr>
    <tr>
      <td><i>Transaction currency</i></td>
      <td>{{object.currency}}</td>
    </tr>
    <tr>
      <td><i>Display amount</i></td>
      <td>{{object.disp_amount}}</td>
    </tr>
    <tr>
      <td><i>Terminal ID</i></td>
      <td>{{object.atm}}</td>
    </tr>
    <tr>
      <td><i>Transaction date</i></td>
      <td>{{object.trans_date}}</td>
    </tr>
    <tr>
      <td><i>Authorization code</i></td>
      <td>{{object.auth_code}}</td>
    </tr>
    <tr>
      <td><i>Result</i></td>
        <td>{{object.result}}</td>
    </tr>
    <tr>
      <td><i>Scoring</i></td>
        <td>{{object.scoring}} %</td>
    </tr>
    
    {% if object.magazine1_amount or object.magazine2_amount or object.magazine3_amount or object.magazine4_amount %}
      <tr>
        <td><i>Magazines</i></td>
        <td>
          1: {{ object.magazine1_amount }}<br />
          2: {{ object.magazine2_amount }}<br />
          3: {{ object.magazine3_amount }}<br />
          4: {{ object.magazine4_amount }}<br />
        </td>
      </tr>
    {% endif %}
  </table>
<hr>
  <h4>Original log</h4>
  {{object.raw|linebreaksbr}}

  </body>
</html>
