@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  input {
    width: 100%;
    margin-bottom: 10px;
  }

  .cancel {
    margin-right: 1rem;
  }

  .buttonEnter{
    text-align: center;
  }
 
}
