.mastercardTrInfoBlock1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1em;
}

.mastercardTrInfoBlock1Title {
    font-size: 17px;
    font-weight: bold;
}

.mastercardTrInfoBlock1Body {
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.mastercardTrInfoBlock1Element {
    display: flex;
    width: 100%;
    padding: 0.5em 0 0.5em 1em;
}

.mastercardTrInfoBlock1ElementTitle {
    width: 40%;
    font-weight: 600;
}

.mastercardTrInfoBlock1ElementBody {
    width: 60%;
}

.mastercardTrInfoSubBlock1Title {
    font-size: 15px;
}


.mastercardTrInfoBlock {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1em;
}

.mastercardTrInfoBlockTitle {
    font-size: 17px;
    font-weight: bold;
}

.mastercardTrInfoBlockBody {
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.mastercardTrInfoBlockElement {
    display: flex;
    width: 100%;
    padding: 0.5em 0 0.5em 1em;
    
}

.mastercardTrInfoBlockElementTitle {
    width: 40%;
}

.mastercardTrInfoBlockElementBody {
   
    padding: 0 1em;
}

.mastercardTrInfoSubBlockTitle {
    font-size: 15px;
    padding: 0.5em;
    font-weight: 600;
}

.docDiv {

}