<nb-card class="customCardHeight" style="margin-bottom: 0.5em; border: unset;" status="info">
    <nb-card-header style="padding: 0.3em; text-align: center;">
        {{isEdit?('edit_bank_user_component.text1' | translate): ('edit_bank_user_component.text2' | translate)}}
    </nb-card-header>
    <nb-card-body>
        <div *ngIf="isUiLoad">
            <div class="div-panel">
                <label class="label-caption">{{'edit_bank_user_component.text3' | translate}}</label> 
                <label *ngIf="!isEdit" class="label-data">{{currentBankUser.userId}}</label>
                <input *ngIf="isEdit" nbInput placeholder="{{'edit_bank_user_component.text3' | translate}}" [(ngModel)]="editedBankUser.userId" maxlength="999">
            </div>
            <div class="div-panel">
                <label class="label-caption">{{'edit_bank_user_component.text4' | translate}}</label> 
                <label *ngIf="!isEdit" class="label-data">{{currentBankUser.role}}</label>
                <input *ngIf="isEdit" nbInput placeholder="{{'edit_bank_user_component.text4' | translate}}" [(ngModel)]="editedBankUser.role" maxlength="999">
            </div>
            <div class="div-panel">
                <label class="label-caption">{{'edit_bank_user_component.text5' | translate}}</label> 
                <label *ngIf="!isEdit" class="label-data">{{currentBankUser.first_name}}</label>
                <input *ngIf="isEdit" nbInput placeholder="{{'edit_bank_user_component.text5' | translate}}" [(ngModel)]="editedBankUser.first_name" maxlength="999">
            </div>
            <div class="div-panel">
                <label class="label-caption">{{'edit_bank_user_component.text6' | translate}}</label> 
                <label *ngIf="!isEdit" class="label-data">{{currentBankUser.last_name}}</label>
                <input *ngIf="isEdit" nbInput placeholder="{{'edit_bank_user_component.text6' | translate}}" [(ngModel)]="editedBankUser.last_name" maxlength="999">
            </div>
            <div class="div-panel">
                <label class="label-caption">{{'edit_bank_user_component.text7' | translate}}</label> 
                <label *ngIf="!isEdit" class="label-data">{{currentBankUser.unit}}</label>
                <input *ngIf="isEdit" nbInput placeholder="{{'edit_bank_user_component.text7' | translate}}" [(ngModel)]="editedBankUser.unit" maxlength="999">
            </div>
            <div class="div-panel">
                <label class="label-caption">{{'edit_bank_user_component.text8' | translate}}</label> 
                <label *ngIf="!isEdit" class="label-data">{{currentBankUser.phone}}</label>
                <input *ngIf="isEdit" nbInput placeholder="{{'edit_bank_user_component.text8' | translate}}" [(ngModel)]="editedBankUser.phone" maxlength="999">
            </div>
            <div class="div-panel">
                <label class="label-caption">{{'edit_bank_user_component.text9' | translate}}</label> 
                <label *ngIf="!isEdit" class="label-data">{{currentBankUser.email}}</label>
                <input *ngIf="isEdit" nbInput placeholder="{{'edit_bank_user_component.text9' | translate}}" [(ngModel)]="editedBankUser.email" maxlength="999">
            </div>
            <div *ngIf="!isEdit" class="div-panel">
                <label class="label-caption">{{'edit_bank_user_component.text10' | translate}}</label> 
                <label class="label-data">{{currentBankUser.registration_date}}</label>                
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <button *ngIf="!isEdit" nbButton size="small" status="primary" (click)="goBack()">{{'edit_bank_user_component.button1' | translate}}</button>
        <button *ngIf="!isEdit" style="margin-left: 1em;" nbButton size="small" status="primary" (click)="editBankUser()">{{'edit_bank_user_component.button2' | translate}}</button>
        <button *ngIf="isEdit" nbButton size="small" status="primary" (click)="closeEditBankUser()">{{'edit_bank_user_component.button3' | translate}}</button>
        <button *ngIf="isEdit" style="margin-left: 1em;" nbButton size="small" status="primary" [nbSpinner]="loadingUpdate" nbSpinnerStatus="info" (click)="updateBankUser()">{{'edit_bank_user_component.button4' | translate}}</button>
    </nb-card-footer>
</nb-card>