.div-panel{
    display: flex;
    margin-bottom: 10px;
    font-size: 13px;
    align-items: baseline;
}

.div-panel > input {
    width: 100%;
}

.label-caption {
    width: 30%;
    font-weight: bold;
    text-transform: uppercase;
}
.label-data {
    width: 60%;
    text-transform: uppercase;
}
@media (max-width: 500px) { 
    .div-panel {
      font-size: 10px;
    }
    .label-caption {
      width: 50%;
    }
    nb-card {
        nb-card-footer {
            padding: 0.2em;
            text-align: center;
        }
    }
}