{% extends "index.html" %}

{% load bootstrap3 i18n %}

{% block title %}View transaction{% endblock %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active">Transaction View</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Transaction </h3>
              <div class="card-tools">

              </div>
            </div>
            <!-- /.card-header -->

            <div class="card-body">
              <!-- {{object.raw|linebreaksbr}} -->
              {% include "pdf.html" %}

            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
    </div>


      <a href="{% url 'transaction_view_pdf' pk=object.id %}" class="btn btn-primary" target="blank">PDF</a>
      <hr>

    <form method="post" role="form" id="select-mod">
      {% if form.errors %}
          <p class="errornote">
              {% if form.errors.items|length == 1 %}
                  {% trans "Please correct the error below." %}
              {% else %}
                  {% trans "Please correct the errors below." %}
              {% endif %}
          </p>
      {% endif %}

      {% csrf_token %}


      {% bootstrap_form form %}


      <label for="time_passed">Time has passed (days)</label>
      <input class="form-control" type="text" id="time_passed" value="0" disabled>

<br>
      {% buttons %}
          <input type="hidden" name="pk" value="{{object.id}}">

          <input class="btn btn-primary" type="submit" value="{% trans 'Save' %}" id="inp-dat">
      {% endbuttons %}
  </form>

    </div><!-- /.container-fluid -->
</div>

</section>

<script type="text/javascript">
var select = document.querySelector('[name="status"]');
var date_stamp = document.querySelector('[name="date_stamp_select"]');

document.addEventListener("DOMContentLoaded", ready);
document.addEventListener('change', date_stamp_change)

function ready() {
  date_stamp.disabled = true;
  if(select.value == 'accepted' || select.value == 'declined') {
    select.disabled = true;
    if(date_stamp.value){
      var date_different = Math.floor((new Date() - new Date(+date_stamp.value.slice(0,4), +date_stamp.value.slice(5,7)-1, +date_stamp.value.slice(8,10))) / (1000 * 60 * 60 * 24));
      document.querySelector('#time_passed').value = (date_different < 1) ? '0' : date_different;
  } else {
    date_stamp.value = '';
  };
  };
};

function date_stamp_change() {
  if(select.value == 'accepted' || select.value == 'declined') {
    var d = new Date();
    date_stamp.value = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate() + ' ' + d.getHours() + ':' + d.getMinutes();
  } else {
      date_stamp.value = '';
  };
};

document.querySelector('#inp-dat').onclick = function(e) {
  if (!select.value) {
    alert('Please select status');
    e.preventDefault();
  };
  select.disabled = false;
  date_stamp.disabled = false;
};

</script>
{% endblock %}
