@import '../../../@theme/styles/themes';

  
.div-panel{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.label-caption {
    font-size: 14px;
    width: 38%;
    // text-transform: uppercase;
}
.label-data {
    font-size: 14px;
    width: 60%;
    font-weight: bold;
    text-transform: uppercase;
}
.left-panel {
    width: 49%;
    height: 400px;
}
.right-panel {
    width: 49%;
    height: 400px;
    margin-left: 2%;
}
.center {
    text-align: center;
}
.input-data-valid {
    width: 100%;
}
.input-data {
    width: 60%;
}
.input-date {
    width: 60%;
}
.selector-list {
    width: 60%;   
}
.label-question {
    width: 100%;
    // text-transform: uppercase;
    font-weight: bold;
    margin: auto;
    text-align: left;
}
.input-radio{
    width: 100%;
    display: flex; 
    margin: auto; 
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
}
.selector-list-questions {
    width: 100%; 
    margin: 0 auto;
}
.control-input-questions {
    width: 380px;   
}

.center_select{
    display: flex; 
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
}

.danger-warning{
    margin: 0em!important;
    padding: 0em!important;
  }

:host /deep/ .radioItem {
    text-align: left;
}

:host /deep/ nb-stepper .step-content {
    padding: 0.5em!important;
}

:host /deep/ .customStepper .label-index {
    margin-bottom: 0!important;
}

:host /deep/ .customStepper .label {
    font-size: 10px!important;
}
:host /deep/ .customStepper .header {
    margin-bottom: 0!important;
}
