

<nb-card>
    <nb-card-header>
      Скарга
    </nb-card-header>
</nb-card>

<div *ngIf="!isNewRecord" style='margin-top: -30px;padding-top: 10px; padding-bottom: 10px; display:flex'>
    <button *ngIf="!isNewRecord && !fieldsStatus.button_escalation.invisible"
        nbButton status="primary" (click)="onClickEscalation()" >Ескалація</button>
    <button *ngIf="!isNewRecord && !fieldsStatus.button_escal_clarif.invisible"
        nbButton status="primary" (click)="onClickClarifications()" style="margin-left: 10px;" >Уточненя</button>
    <button *ngIf="!isNewRecord && !fieldsStatus.button_request_docs.invisible && (claimData.status == 'Chargeback/Second Presentment запрос торговцу' 
            || claimData.status == 'Chargeback опротестование сформировано') "
        nbButton status="primary" (click)="onClickRequestDocs()" style="margin-left: 10px;" >Запит документів</button>

</div>

<div *ngIf="!isNewRecord" class="div-panel" >
    <div class="left-panel">
       
        <nb-card style="width: 100%; height: 400px;">
            <nb-card-header style="width: 100%; text-align: center;">
                Деталізація cкарги
              </nb-card-header>
            <nb-card-body>
            
                <div class="div-panel" *ngIf="!fieldsStatus.pan.invisible">
                    <label class="label-caption">Номер карти</label> 
                    <label class="label-data">{{claimData.pan}}</label>
                </div>
        
                <div class="div-panel" *ngIf="!fieldsStatus.fio.invisible">
                    <label class="label-caption">П.І.Б.</label> 
                    <label class="label-data">{{claimData.user.first_name}} {{claimData.user.last_name}}</label> 
                </div>
    
                <div class="div-panel" *ngIf="!fieldsStatus.transDate.invisible">
                    <label class="label-caption">Дата транзакції</label> 
                    <label class="label-data">{{getDateTrans}}</label> 
                </div>
    
                <div class="div-panel" *ngIf="!fieldsStatus.currencyName.invisible && !fieldsStatus.amount.invisible">
                    <label class="label-caption">Cума</label> 
                    <label class="label-data">{{claimData.trans_currency}} {{claimData.trans_amount}}</label> 
                </div>
    
                <div class="div-panel" *ngIf="!fieldsStatus.merchantName.invisible">
                    <label class="label-caption">Назва торговця</label> 
                    <label class="label-data">{{claimData.merch_name_ips}}</label> 
                </div>
    
                <div class="div-panel" *ngIf="!fieldsStatus.rC.invisible">
                    <label class="label-caption">Причина диспуту</label> 
                    <label class="label-data">{{claimData.reason_code_group}}</label> 
                </div>
    
                <div class="div-panel" *ngIf="fieldsStatus.aRN.invisible">
                    <label class="label-caption">ARN</label> 
                    <label class="label-data">{{claimData.arn}}</label> 
                </div>
    
            </nb-card-body>
        
        </nb-card>
    </div>
  
    <div class="right-panel">
        <nb-card style="width: 100%; height: 400px;">

            <nb-card-body>
                <div >
                    <label>Результат</label>
                    <br>
                    <label style="font-weight: bold;">{{claimData.result}}</label>
                </div>
                
                <div >
                    <label>Коментар</label>
                    <br>
                    <nb-list >
                        <nb-list-item *ngFor="let item of comments" style="font-weight: bold;">
                          Текст: {{ item.text }}<br>
                          Дата: {{ item.create_date_str }}
                        </nb-list-item>
                    </nb-list>
                </div>

                <div>
                    <label>Документи</label>
                    <a style="font-weight: bold;" *ngFor="let document of claimData.documents" href="{{document.file}}">{{document.file.split('/').pop()}}<br></a>
                    <br>
                    <nb-list >
                        <nb-list-item *ngFor="let item of documents" style="font-weight: bold;">
                            <div style="display: flex; flex-direction: column;">
                                <div>
                                    Описание: {{ item.description }}
                                </div>
                                <div>
                                    Файл: <a href="{{ item.file }}" target="_blank" >{{ item.file_name }}</a>
                                </div>
                            </div>
                        </nb-list-item>
                    </nb-list>
                </div>
                
            </nb-card-body>
        
        </nb-card>
    
    </div>

    

</div>

<div *ngIf="!isNewRecord" style='margin-top: -10px;padding-top: 10px; padding-bottom: 10px;'>
    <button *ngIf="!isNewRecord && !fieldsStatus.button_escal_finish.invisible"
        nbButton status="primary" (click)="onClickFinish()" >Завершити</button>
    <button *ngIf="!isNewRecord && !fieldsStatus.button_escal_add_responce.invisible"
        nbButton status="primary" (click)="onClickFinish()" >Додати Коментар</button>
</div>

<div *ngIf="isNewRecord && role !='merchant'" >
    
        <nb-card *ngIf="stepNewRecord==1"  style="width: 49%; height: 450px;margin: auto;">
            <nb-card-header style="width: 100%; text-align: center;">
                Нове звернення
              </nb-card-header>
            <nb-card-body>
                <div class="div-panel" *ngIf="!fieldsStatus.pan.invisible">
                    <label class="label-caption">Номер карти</label> 
                    <input class="input-data" nbInput placeholder="Номер карти"
                        [required]="fieldsStatus.pan.required" 
                        [readonly]="fieldsStatus.pan.readonly"
                        [(ngModel)]="claimData.pan">
                </div>
                
                <div class="div-panel" *ngIf="!fieldsStatus.transDate.invisible">
                    <label class="label-caption">Дата транзакції</label> 
                    <input class="input-date" nbInput 
                        placeholder="Дата транзакції"
                        [nbDatepicker]="formpicker"
                        [required]="fieldsStatus.transDate.required" 
                        [readonly]="fieldsStatus.transDate.readonly"
                        [(ngModel)]="claimData.trans_date">
                    <nb-datepicker #formpicker></nb-datepicker> 
                </div>

                <div class="div-panel" *ngIf="!fieldsStatus.merchantID.invisible">
                    <label class="label-caption">Торгова точка</label> 
                    <nb-select class="selector-list" [(selected)]="claimData.merch_id"
                        [required]="fieldsStatus.merchantID.required" 
                        [disabled]="fieldsStatus.merchantID.readonly" >
                        <nb-option *ngFor="let item of merchantsArr" [value]="item.id">
                            {{ item.name_ips }}
                        </nb-option>
                    </nb-select>
                </div>

                <div class="div-panel" *ngIf="!fieldsStatus.terminalID.invisible">
                    <label class="label-caption">Terminal ID</label> 
                    <input class="input-data" nbInput placeholder="Terminal ID" 
                        [required]="fieldsStatus.terminalID.required" 
                        [readonly]="fieldsStatus.terminalID.readonly" 
                        [(ngModel)]="claimData.term_id">
                </div>

                <div class="div-panel" *ngIf="!fieldsStatus.amount.invisible">
                    <label class="label-caption">Cума операції</label> 
                    <input class="input-data" nbInput placeholder="Cума операції" 
                        [required]="fieldsStatus.amount.required" 
                        [readonly]="fieldsStatus.amount.readonly" 
                        [(ngModel)]="claimData.trans_amount"
                        minlength="10"
                        maxlength="10"
                        >
                </div>

                <div class="div-panel" *ngIf="!fieldsStatus.currency.invisible">
                    <label class="label-caption">Валюта операції</label> 
                    <nb-select class="selector-list" [(selected)]="claimData.trans_currency"
                        [required]="fieldsStatus.currency.required" 
                        [disabled]="fieldsStatus.currency.readonly">
                        <nb-option *ngFor="let item of listCurrency" [value]="item.caption">
                            {{ item.caption }}
                        </nb-option>
                    </nb-select>
                </div>

                <div class="div-panel" *ngIf="!fieldsStatus.authCode.invisible">
                    <label class="label-caption">Код операції</label> 
                    <input class="input-data" nbInput placeholder="Код операції" 
                        [required]="fieldsStatus.authCode.required" 
                        [readonly]="fieldsStatus.authCode.readonly"
                        [(ngModel)]="claimData.trans_approval_code">
                </div>

                <div class="div-panel" *ngIf="!fieldsStatus.comment.invisible">
                    <label class="label-caption">Коментарі</label> 
                    <input class="input-data" nbInput placeholder="Коментарі" 
                        [required]="fieldsStatus.comment.required" 
                        [readonly]="fieldsStatus.comment.readonly"
                        [(ngModel)]="claimData.ch_comments">
                </div>

                <div class="div-panel" *ngIf="!fieldsStatus.docs.invisible">
                    <label class="label-caption">Додати документи</label> 
                    <input #fileInput [hidden]="true" placeholder="Додати файл" onclick="this.value=null"
                                type='file' [accept]="acceptFiles" (change)="fileChanged($event)">
                    <nb-icon icon="attach-outline" (click)="fileInput.click()"></nb-icon>&nbsp;&nbsp;
                    <div *ngFor="let file of filesArr" class="fileAttached">
                        {{file.name}} <nb-icon icon="close-outline" (click)="deleteAttachedFile(file)"></nb-icon>
                    </div>

                </div>

            </nb-card-body>
            
            <nb-card-footer>
                <div class="center">
                  <button  nbButton status="primary" (click)="onClickGoNextStep()">До наступного кроку</button>
                </div>
              </nb-card-footer>
        </nb-card>
    

        <nb-card *ngIf="stepNewRecord==2" style="width: 49%; height: 450px;margin: auto;">
            <nb-card-header style="width: 100%; text-align: center;">
                Додаткова інформація
              </nb-card-header>
            <nb-card-body>
                <form [formGroup]="formGroups" >
                    <ng-container [ngTemplateOutlet]="this[part]"></ng-container>
                
                    <ng-template #one> 
                        <label class="label-question center">
                            Ви підтверджуєте, що брали участь у транзакції?
                        </label> 
                        <nb-radio-group name="groupQuery1" formControlName="groupQuery1" 
                            class="input-radio" [(ngModel)]="radioGroupQueryValue1">
                            <nb-radio [value] = "valNo" >{{valNo.text}}</nb-radio>
                            <nb-radio [value] = "valYes" >{{valYes.text}}</nb-radio>
                        </nb-radio-group>
                    </ng-template>
                
                    <ng-template #two> 
                        <label class="label-question center">
                            Чи Ви раніше робили транзакції у даного торговця?
                        </label> 
                        <nb-radio-group name="groupQuery2" formControlName="groupQuery2" 
                            class="input-radio" [(ngModel)]="radioGroupQueryValue2">
                            <nb-radio [value] = "valNo" >{{valNo.text}}</nb-radio>
                            <nb-radio [value] = "valYes2" >{{valYes2.text}}</nb-radio>
                            <nb-radio [value] = "valYes3" >{{valYes3.text}}</nb-radio>
                        </nb-radio-group>
                    </ng-template>
                
                    <ng-template #three>
                        <label class="label-question center">
                            Де знаходиться картка?
                        </label> 
                        <nb-radio-group name="groupQuery3" formControlName="groupQuery3" 
                            class="input-radio" [(ngModel)]="radioGroupQueryValue3">
                            <nb-radio [value] = "valWhereCard" >{{valWhereCard.text}}
                            </nb-radio>
                            <nb-radio [value] = "valWhereCard2" >{{valWhereCard2.text}}
                            </nb-radio>
                        </nb-radio-group>
                    </ng-template>

                    <ng-template #four>
                        <label class="label-question center">
                            Вкажить дату викрадення
                        </label> 
                        <input class="control-input-questions" nbInput 
                            placeholder="Вкажить дату викрадення"
                            [nbDatepicker]="formpicker"
                            [(ngModel)]="claimData.transDate"
                            formControlName="groupQuery4"  >
                        <nb-datepicker #formpicker></nb-datepicker> 
                    </ng-template>

                    <ng-template #five>
                        <label class="label-question center">
                            Вам потрібні документи по транзакції для власних потреб
                        </label> 
                        <nb-radio-group name="groupQuery5" formControlName="groupQuery5" 
                            class="input-radio" [(ngModel)]="radioGroupQueryValue5">
                            <nb-radio [value] = "valNeedDocument" >{{valNeedDocument.text}}
                            </nb-radio>
                            <nb-radio [value] = "valNeedDocument2" >{{valNeedDocument2.text}}
                            </nb-radio>
                        </nb-radio-group>
                    </ng-template>

                    <ng-template #six>
                        <label class="label-question center">
                            Операцію було проведено в банкоматі?
                        </label> 
                        <nb-radio-group name="groupQuery6" formControlName="groupQuery6" 
                            class="input-radio" [(ngModel)]="radioGroupQueryValue6">
                            <nb-radio [value] = "valOperation" >{{valOperation.text}}
                            </nb-radio>
                            <nb-radio [value] = "valOperation2" >{{valOperation2.text}}
                            </nb-radio>
                        </nb-radio-group>
                    </ng-template>

                    <ng-template #seven>
                        <label class="label-question center">
                            Кошти не були отримані?
                        </label> 
                        <nb-radio-group name="groupQuery7" formControlName="groupQuery7" 
                            class="input-radio" [(ngModel)]="radioGroupQueryValue7">
                            <nb-radio [value] = "valMoney" >{{valMoney.text}}
                            </nb-radio>
                            <nb-radio [value] = "valMoney2" >{{valMoney2.text}}
                            </nb-radio>                     
                        </nb-radio-group>
                    </ng-template>
                
                    <ng-template #eight>
                        <label class="label-question center">
                            В повному обсязі чи частково?
                        </label> 
                        <nb-radio-group name="groupQuery8" formControlName="groupQuery8" 
                            class="input-radio" [(ngModel)]="radioGroupQueryValue8">
                            <nb-radio [value] = "valOll" >{{valOll.text}}
                            </nb-radio>
                            <nb-radio [value] = "valOll2" >{{valOll2.text}}
                            </nb-radio>
                        </nb-radio-group>
                    </ng-template>

                    <ng-template #nine>
                        <label class="label-question center">
                            Вкажіть яку суму не отриманих коштів
                        </label> 
                        <input class="input-data" nbInput placeholder="Вкажіть яку суму не отриманих коштів"
                            name="groupQuery9" formControlName="groupQuery9" 
                            >
                    </ng-template>

                    <ng-template #ten>
                        <label class="label-question center">
                            Операція проведена в інтернеті?
                        </label> 
                        <nb-radio-group name="groupQuery10" formControlName="groupQuery10" 
                            class="input-radio" [(ngModel)]="radioGroupQueryValue10">
                            <nb-radio [value] = "valWhereOperation" >{{valWhereOperation.text}}
                            </nb-radio>
                            <nb-radio [value] = "valWhereOperation2" >{{valWhereOperation2.text}}
                            </nb-radio>
                        </nb-radio-group>
                    </ng-template>

                    <ng-template #eleven>
                        <label class="label-question center">
                            Чи товар був отриманий/послуга надана?
                        </label> 
                        <nb-radio-group name="groupQuery11" formControlName="groupQuery11" 
                            class="input-radio" [(ngModel)]="radioGroupQueryValue11">
                            <nb-radio [value] = "valGet" >{{valGet.text}}
                            </nb-radio>
                            <nb-radio [value] = "valGet2" >{{valGet2.text}}
                            </nb-radio>
                        </nb-radio-group>
                    </ng-template>

                    <ng-template #twelve>
                        <label class="label-question center">
                            Оберіть причину із списку
                        </label> 
                        <nb-select name="groupQuery12" formControlName="groupQuery12"
                            class="selector-list-questions" [(selected)]="question">
                            <nb-option *ngFor="let item of listQuestions" [value]="item">
                                {{ item.caption }}
                            </nb-option>
                        </nb-select>
                    </ng-template>

                    <ng-template #thirteen>
                        <label class="label-question center">
                            Вкажіть яким чином було проведено оплату
                        </label> 
                        <nb-radio-group name="groupQuery13" formControlName="groupQuery13" 
                            class="input-radio" [(ngModel)]="radioGroupQueryValue13">
                            <nb-radio [value] = "valPay" >{{valPay.text}}
                            </nb-radio>
                            <nb-radio [value] = "valPay2" >{{valPay2.text}}
                            </nb-radio>
                        </nb-radio-group>
                    </ng-template>

                    <ng-template #fourteen>
                        <label class="label-question center">
                            Вказати дату повернення
                        </label> 
                        <input class="input-date" nbInput 
                            placeholder="Вказати дату повернення"
                            [nbDatepicker]="formpicker"
                            name="groupQuery14" formControlName="groupQuery14" 
                            [(ngModel)]="claimData.trans_date">
                        <nb-datepicker #formpicker></nb-datepicker> 
                    </ng-template>
                
                    <ng-template #fiveteen>
                        <label class="label-question center">
                            Вкажить дату повернення
                        </label> 
                        <input class="input-date" nbInput 
                            placeholder="Вкажить дату повернення"
                            [nbDatepicker]="formpicker"
                            name="groupQuery15" formControlName="groupQuery15" 
                            [(ngModel)]="claimData.comments">
                        <nb-datepicker #formpicker></nb-datepicker> 
                    </ng-template>

                    <ng-template #sixteen>
                        <label class="label-question center">
                            Вкажить правильну суму та валюту
                        </label> 
                        <input class="control-input-questions" nbInput placeholder="Cума"
                            name="groupQuery16" formControlName="groupQuery16"  >
                        <nb-select class="control-input-questions" [(selected)]="claimData.currency">
                            <nb-option *ngFor="let item of listCurrency" [value]="item.id">
                                {{ item.caption }}
                            </nb-option>
                        </nb-select>
                    </ng-template> 

                    <ng-template #seventeen>
                        <label class="label-question center">
                            Чи Ви робили повернення товару?
                        </label> 
                        <nb-radio-group name="groupQuery17" formControlName="groupQuery17" 
                            class="input-radio" [(ngModel)]="radioGroupQueryValue15">
                            <nb-radio [value] = "valBack" >{{valBack.text}}
                            </nb-radio>
                            <nb-radio [value] = "valBack2" >{{valBack2.text}}
                            </nb-radio>
                        </nb-radio-group>
                    </ng-template>

                </form> 

            </nb-card-body>
            
            <nb-card-footer>
                <div class="center">
                    <button  nbButton status="primary" (click)="onClickBack()">Повернутися</button>
                    <button *ngIf="!isLastStep" nbButton status="primary" style="margin-left: 10px;" (click)="change(this)">Далі</button>
                    <button *ngIf="isLastStep" nbButton status="primary" style="margin-left: 10px;" (click)="saveClaim()">Відправити</button>
                </div>
              </nb-card-footer>
        </nb-card>


    

</div>