@import '../../../@theme/styles/themes';

  
.div-panel{
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.label-caption {
    font-size: 13px;
    width: 38%;
    font-weight: bold;
    // text-transform: uppercase;
}
.label-data {
    font-size: 13px;
    width: 60%;
    text-transform: uppercase;
}
.left-panel {
    width: 50%;
    height: 300px;
}
.right-panel {
    width: 50%;
    height: 300px;
    margin-left: 0.5em;
}
.center {
    text-align: center;
}
.input-data-valid {
    width: 100%;
}
.input-data {
    width: 60%;
}
.input-date {
    width: 60%;
}
.selector-list {
    width: 60%;   
}
.label-question {
    width: 100%;
    // text-transform: uppercase;
    font-weight: bold;
    margin: auto;
    text-align: center;
}
.input-radio{
    width: 100%;
    display: flex; 
    margin: auto; 
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
}
.selector-list-questions {
    width: 100%; 
    margin: 0 auto;
}
.control-input-questions {
    width: 380px;   
}

.center_select{
    display: flex; 
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
}

.mainCardSingleClaim {
    margin-bottom: 0.5em!important;
    border: unset!important;

    nb-card-header {
        padding: 0.5em 1em;
    }
}

.cardDetails {
    width: 100%; 
    height: 300px;  
    margin-bottom: 0.5em;

    nb-card-header {
        width: 100%; 
        text-align: center; 
        padding: 0.5em;
    }

    nb-card-body {
        padding: 0.5em 2em;
    }
}

.cardProcess {
    width: 100%; 
    height: 300px; 
    padding: 0.1em 0.1em 1em 0.1em; 
    margin-bottom: 0.5em;

    nb-card-header {
        width: 100%; 
        text-align: center; 
        padding: 0.5em;
    }

    nb-card-body {
        padding: 0.5em 1em;
    }
}
.cardProcessListItem {
    display: flex; 
    flex-direction: column;
}
.cardProcessListItem > div:nth-child(1) {
    font-size: 12px;
}

.cardProcessLabel {
    font-size: 13px;
    font-weight: bold;
}

.card1CreateNewClaimStep1 {
    width: 95%; 
    margin: auto; 
    height: calc(100vh - 190px);
}

.step1Card1Item {
    
}

.card1CreateNewClaimStep2 {
    width: 75%;
    height: calc(100vh - 190px);
    margin: auto;
}

.card1CreateNewClaimStep2Footer {
    display: flex; 
    justify-content: center;
}

.card1CreateNewClaimStep2 {
    width: 70%; 
    height: calc(100vh - 190px); 
    margin: auto;
}

.card1CreateNewClaimStep3 {
    height: calc(100vh - 190px);
    margin: auto;
}




.danger-warning{
    margin: 0em!important;
    padding: 0em!important;
  }

.timlineItem {
    // margin-bottom: 2em;
    // margin-top: 1em;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.7em;
    /* border: 2px solid lavender; */
    border-radius: 25px;
    background-color: lavender;
    margin-bottom: 0.5em;
}

.timlineItemTitle {
    display: flex;
    color:#00145a;
    justify-content: space-between;
    font-weight: 600;
    font-size: 13px;
}

.timlineItemText {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    padding: 0.2em;
    font-size: 14px;
}

.commentType {
    
}

.documentType {
}

:host /deep/ .radioItem {
    text-align: left;
}

:host /deep/ nb-stepper .step-content {
    padding: 0.5em!important;
}

:host /deep/ .customStepper .label-index {
    margin-bottom: 0!important;
}

:host /deep/ .customStepper .label {
    font-size: 10px!important;
}
:host /deep/ .customStepper .header {
    margin-bottom: 0!important;
}

:host /deep/ .chargeTabset > ul > li > a {
    font-size: 12px;
    padding: 10px;
}


@media (max-width: 500px) {
    .mainCardSingleClaim {
        nb-card-header {
            padding: 0.2em 0.4em;
        }
    }
    .mainHeaderSingleClaimButtonsBlock {
        width: min-content;
    }
    .mainHeaderSingleClaimButtonsBlock > button {
        padding: 0.2em 1em!important;
        font-size: 10px;
    }

    .cardDetails {    
        nb-card-header {
            padding: 0.2em;
        }
    
        nb-card-body {
            padding: 0.4em;
        }

        nb-card-body > a {
            font-size: 11px;
        }
    }

    .cardDetailsItem > label {
        font-size: 10px;
        margin-bottom: 0!important;
    }

    .cardProcess {    
        nb-card-header {
            padding: 0.2em;
        }
    
        nb-card-body {
            padding: 0.4em;
        }

        nb-card-body > a {
            font-size: 11px;
        }
    }
    .cardProcessListItem > div {
        font-size: 10px;
    }
    .cardProcessListItem > div:nth-child(1) {
        font-size: 10px;
    }

    .cardProcessLabel {
        font-size: 10px;
        margin-bottom: 0!important;
    }

    .timlineItemText {
        font-size: 12px;
    }

    //create new claim step 1
    .card1CreateNewClaimStep1 {
        width: 100%;

        nb-card-body {
            padding: 0.5em!important;
        }

        nb-card-footer {
            padding: 0.3em!important;
        }
    }

    .step1Card1Item > label {
            font-size: 11px!important;
        }

    .step1Card1Item > div> input {
        font-size: 10px;
        padding: 0.1em 1em;
    }
    :host /deep/ .step1Card1Item > div > nb-select > button {
        font-size: 10px!important;
        padding: 0.1em 1em!important;
    }
    .step1Card1Item > div> p {
        font-size: 9px!important;
    }

    .step1Card1ItemOption {
        font-size: 13px!important;
        padding: 0.1em 1em!important;
    }
    
    //create new claim step 2
    .card1CreateNewClaimStep2 {
        width: 100%;

        nb-card-footer {
            padding: 0.3em!important;
        }
    }

    .card1CreateNewClaimStep2Footer {
        flex-wrap: wrap;
    }

    .card1CreateNewClaimStep2Footer > button {
        margin-bottom: 0.3em;
    }

    //create new claim step 3
    .card1CreateNewClaimStep3 {
        width: 100%;

        nb-card-header {
            font-size: 12px!important;
            padding: 0.5em!important;
        }

        nb-card-body {
            padding: 0.5em!important;
        }

        nb-card-footer {
            padding: 0.3em!important;
        }
    }

    .card1CreateNewClaimStep3 > nb-card-body > div > label {
        text-align: center!important;
    }

    .itemDisplayColumn {
        display: flex;
        flex-direction: column;
    }

    

}
