<div *ngIf="!fieldsStatus.list_claims.invisible">
  <div *ngIf="!fieldsStatus.button_add_claim.invisible" class="button-enter">
    <button  nbButton status="primary" (click)="add_claim()">Додати скаргу</button>
    <!-- <a nbButton status="primary" href="ourpages/ourcomponents/single-claim"></a> -->
  </div>
  <nb-card >
    
      <nb-card-header>
        Список скарг
      </nb-card-header>
    
      <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source" 
        (userRowSelect)="onUserRowSelect($event)"
        (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
      </nb-card-body>
  
  </nb-card>
  
</div>
