<div *ngIf="!fieldsStatus.list_claims.invisible">
  <nb-card class="customCardHeight">
    
      <nb-card-header style="padding: 0.5em;">
        <div style="display: flex; align-items: center;">
          Список скарг
          <!-- "!fieldsStatus.button_add_claim.invisible && stageParam=='all'"  -->
          <!-- <div *ngIf="!fieldsStatus.button_add_claim.invisible  && stageParam=='all'" 
            class="button-enter button-set"> -->
            <button *ngIf="!fieldsStatus.button_add_claim.invisible  && stageParam=='all'" nbButton size="tiny" 
              status="primary" (click)="add_claim()" style="margin-left: 1.5em;">Додати скаргу</button>
          <!-- </div>
          <div *ngIf="role == 'chargeback_officer'"
            class="button-enter button-set"> -->
            <button  nbButton size="tiny" style="margin-left: 1.5em;"
              status="primary" *ngIf="role == 'chargeback_officer'" (click)="refresh_claim()">Оновити</button>
          <!-- </div>
          <div *ngIf="role == 'chargeback_officer'" 
            class="button-enter button-set"> -->
            <button *ngIf="role == 'chargeback_officer'" style="margin-left: 1.5em;" nbButton size="tiny" 
              status="primary" (click)="createReport()">Звіт</button>
          <!-- </div> -->
        </div>
              
      </nb-card-header>
    
      <nb-card-body style="padding: 0.5em;">
        <ng2-smart-table [settings]="settings" [source]="source" 
        (userRowSelect)="onUserRowSelect($event)"
        (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
      </nb-card-body>
  
  </nb-card>
  
</div>
