
  <div style="display:block;" class="row" >
  
    <div class="center-screen">
      <nb-card style="margin-left: auto;
      margin-right: auto;" class="registration-card">
        <nb-card-header>login</nb-card-header>
        <nb-card-body>
          <input nbInput placeholder="User Name" required [(ngModel)]="data.login">
          <input nbInput type="password" required placeholder="Password" [(ngModel)]="data.password">
          <a href="#" target="_blank" >Forgot password?</a>
        </nb-card-body>
        <nb-card-footer>
          <div class="button-enter">
            <button  nbButton status="primary" (click)="enter()">Enter</button>
          </div>
        </nb-card-footer>
      </nb-card>
    </div>
  
    
  </div>

