
  <div style="display:block;" class="row" >
  
    <div class="center-screen">
      <nb-card style="margin-left: auto;
      margin-right: auto;" class="registration-card">
        <nb-card-header>
          <img src="assets/images/logo.png" alt="Logo" class="logo">
        </nb-card-header>
        <nb-card-body>
          <input nbInput placeholder="User Name" required [(ngModel)]="data.email">
          <input nbInput type="password" required placeholder="Password" [(ngModel)]="data.password">
          <a href="#" target="_blank" >Forgot password?</a>
        </nb-card-body>
        <nb-card-footer>
          <div class="button-enter">
            <button  nbButton status="primary" (click)="enter()" (keyup)="handleKeyUp($event)">Логін</button>
          </div>
          <div class="button-enter mt-20">
            <a nbButton status="primary" href="auth/registration">Реєстрція</a>
          </div>
        </nb-card-footer>
      </nb-card>
    </div>
  
    
  </div>

